/* #nav */
#mainNav {
    background-color: rgba(255,255,255,0.95);
}
#mainNav .nav .nav-item .nav-link {
    color: black;
    font-size: 9pt;
}

#mainNav .navbar-toggler {
    background-color: #92278f;
}
.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  background-color: #f0f0f0 !important;
  color: #80217e !important;
}

#mainNav img {
    padding-right: 50px;
    margin-right: 50px;
    height: 60px;
}

#mainNav a {
    text-decoration: none;
}

#mainNav .nav-link:hover {
    color: #92278f;
}
#mainNav.navbar-shrink {
    background-color: rgba(246,246,246,0.99);
}

/* #endnav */

/* #header */

header.masthead {
    background-image: url("../img/cartoon.jpg");
    background-size: 40;
    background-position-x: 100%;
    background-position-y: 100%;
    text-align: left;
}

header.masthead .intro-text {
    padding-top: 20px;
    padding-bottom: 20px;
}

.intro-lead-in h1 {
    color: #80217e;
    font-size: 26pt;
    text-transform: uppercase;
    font-style: normal;
    margin-top: 50px;
    justify-items: left;
}

.intro-lead-in p {
    color: black;
    font-size: 12pt;
    font-style: normal;
    margin-bottom: 0px;
    justify-items: left;
}

/* #endheder */

/* #icons */

.rapdark {
    background-color: #1c2022;
    padding-top: 30px;
    padding-bottom: 30px;
    border: 0px;
}

.rapborder {
    border-style: solid;
    border-width: 0px;
    border-right-width: 0.5px;
    border-color: #999;
    margin-left: 0;
}

.tag {
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 10pt;
    line-height: 1.4em;
}

.tag em {
    color: #d53ad1;
    font-style: normal;
}
/* #endicons*/

/* #content */

.rapgray {
    background-color: #fffaff;
    padding-top: 30px;
    padding-bottom: 30px;
    border: 0px;
}

.illustrate {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    min-height: 400px;
}

.connects {
    background-image: url('../img/badrap-connects.svg');
    margin-top: auto;
    margin-bottom: auto;
}

.row {
    margin-left: 20px;
    margin-right: 20px;
}
/* #endcontent */

/* #contactbanner */

.network-name {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 10pt;
}

aside {
    background-color: #f8f8f8;
}

aside#contact.banner {
    padding-top: 70px;
    padding-bottom: 70px;
}

/* #endcontactbanner */

/* #global */

section.anchor {
    padding-top: 0px;
}

section {
    padding-top: 0;
    padding-bottom: 0;
}

.space {
    min-height: 50vh;
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    padding-bottom: 10px;
}

h1 {
    font-size: 26pt;
    text-transform: uppercase;
    font-style: normal;
    justify-items: left;
    margin-top: 20px;
    color: #80217e;
}

h2,
h3,
h4,
h5 {
    padding-top: 30px;
}


.rapwhite p {
    color: #4c4d4f !important;
}

.rapdark h1, .rapdark h2, .rapdark h3, .rapdark p, .rapdark i, .rapdark li {
    color: #fff;
}

.rapwhite h1 {
    color: #80217e;
}
.rapwhite h2, .rapwhite h3, .rapwhite p {
    color: #1c2022;
}

.btn {
    font-weight: 400;
}

.btn-rap {
    background-color: #92278f;
    color: #fff;
    font-size: 10pt;
    padding-left: 20px;
    padding-right: 20px;
}

a.btn-rap:hover {
    text-decoration: none;
    color: #fff;
    background-color: #70056d;
}

.fa-heart {
    color: #d53ad1 !important;
}

p {
    font-family: 'Montserrat', sans-serif;
    font-size: 12pt;
}


table {
    margin-left: 20px;
    margin-right: 20px;
}

th {
    font-weight: 400;
}

a {
    color: #80217e;
    text-decoration: underline;
}

#ecosystem a  {
    color: #fff !important;
}
a.btn {
    text-decoration: none;
}

#team {
    padding-bottom: 0;
}

.icon {
    width: 200px;
}

/* #endglobal */

/* #scale */

@media (min-width: 2000px) {
    header.masthead {
        background-position-x: 80%;
        background-size: 33%;
    }
}

@media (min-width: 1800px) and (max-width: 1999px) {
    header.masthead {
        background-position-x: 85%;
        background-size: 40%;
    }
}

@media (min-width: 1600px) and (max-width: 1799px) {
    header.masthead {
        background-position-x: 90%;
        background-size: 45%;
    }
}

@media (min-width: 1400px) and (max-width: 1599px) {
    header.masthead {
        background-position-x: 100%;
        background-size: 50%;
    }
}

@media (min-width: 1200px) and (max-width: 1399px) {
    header.masthead {
        background-position-x: 100%;
        background-size: 55%;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    header.masthead {
        background-position-x: 100%;
        background-size: 65%;
    }
}

@media (max-width: 992px) {
    header.masthead {
        background-image: none;
    }

}

@media (max-width: 768px) {
    .icon {
        width: 125px;
    }
    .rapborder {
        border-right-width: 0px;
    }
}
/* To be used later

.menuhalf {
    max-width: 500px;
}

.menuspace {
    width: 50%;
}


.headerbanner {
    background-size: cover;
}

.headerbanner h1,
h2,
h3 {
    color: #fff;
}

navlink.active {
    color: #f00;
}

.vulnpic-individuals {
    background-image: url("../img/vulnerable-devices-individuals.svg");
}

.vulnpic-companies {
    background-image: url("../img/vulnerable-devices-companies.svg");
}

.breaches-individuals {
    background-image: url("../img/data-breaches-individuals.svg");
}

.leaks-individuals {
    background-image: url("../img/data-breaches-individuals.svg");
}

.breaches-companies {
    background-image: url("../img/data-breaches-companies.svg");
}

.assets {
    background-image: url("../img/asset-monitoring.svg");
}

.gdpr72h {
    background-image: url("../img/gdpr72-logo.svg");
}


.badrap-researcher {
    background-image: url('../img/badrap-researchers.svg');
}

.rapdark p {
    color: #eee;
}

ite p {
    color: #4c4d4f;
}

.rapwhite i {
    color: #4c4d4f;
}

.icons {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    margin-top: 15px;
    width: 100px;
}


.companypic {
    background-image: url('../img/gdpr72-bg.jpg');
    min-height: 700px;
}

.researcherpic {
    background-image: linear-gradient(to bottom, rgba(227, 1, 238, 0.7), rgba(255, 67, 53, 0.7)), url('../img/lake.jpg');
    min-height: 600px;
}

.placeholderpic {
    background-image: linear-gradient(to bottom, rgba(227, 1, 238, 0.7), rgba(255, 67, 53, 0.7)), url('../img/lake.jpg');
    min-height: 600px;
}

.fas-dark {
    color: #222;
}

*/
