---
layout: slides
title: Badrap for Gov
styles:
    - reveal.js/css/reveal.css
    - reveal.js/css/theme/white.css
    - badrap.css
slides:
- slide: title
  title:
  subtitle:
    text: For the Government
  layout: slide-coverpage
  img:
    src: ../../img/badrap-logo.svg
    alt: Badrap logo
    width: 30%

- slide: PROBLEM
  title:
    text: A problem for the online society
  subtitle:
    text: Too many vulnerabilities exposed.
  img:
    src: ../img/issues.jpg
    alt: "Too many vulnerabilities"
    width: 70%

- slide: REAL WORLD CONNECTION
  title:
    text: A problem for the unaware victims
  img:
      src: ../img/cartoon.jpg
      alt: "society"
      width: 80%

- slide: THERE IS HOPE
  title:
    text: Making them aware
  subtitle:
    text: has a huge impact.
  notes: Case Elisa - One of the Finnish ISPs lost the capability to notify their customers in 2011. By 2014 85% of the infections were on their network. When they got the capability back, situation was normalised.
  img:
    src: ../img/case-elisa.svg
    alt: case Elisa
    width: 90%

- slide: PREVIOUS SOLUTION - ISPs
  title:
    text: The model today
  subtitle:
    text: Diligent governments rely on ISPs.
  text:
    text: <em>All</em> ISPs understand the cost of notification well.<br><em>Some</em> understand the benefits well.<br>->Progress not fast enough.
  img:
    src: ../img/gov-relies-isp.jpg
    alt: Gov relies ISP
    width: 80%

- slide: BRIDGE TO THE SOLUTIONS
  title:
    text: We asked ourselves
  subtitle:
    text: Could we do anything to help scale the reporting?
  text:
    text: We thought about HackerOne, Bugcrowd, Synack and even AirBnB - and thought <em>YES</em>!
  img:
    src: ../img/bountiesgrow.jpg
    alt: Bounties Grow
    width: 100%
- slide: BEGIN NEW SOLUTION
  title:
    text: Badrap
  subtitle:
    text: A scalable way to serve the businesses and netizens!
  img:
    src: ../img/cartoon.jpg
    alt: Netizens
    width: 50%

- slide: solution
  title:
    text: Information sharing rethought
  text:
    text: >
      <em>Already reporting?</em> Badrap complements your current process.<br>
      <em>Not reporting yet?</em> Now there is an easy way to get started!
  img:
    src: ../img/badrap-model.jpg
    alt: Badrap Model
    width: 80%

- slide: NETIZENS-GUARDIANS
  title:
    text: Streetwise Netizens
  img:
      src: ../img/guardian-netizens.jpg
      alt: Guardian Netizens Spreading the Word

- slide: HOW
  title:
    text: A country-specific service for the Netizen
  text:
    text: A free check for the IP currently in use. By registering, netizen gets additional features, and we now are able to reach the netizen.
  img:
    src: ../img/website-check2.jpg
    width: 60%

- slide: HOW
  title:
    text: Users can subscribe to alerts for the IPs they use
  img:
    src: ../img/manage-your-ips2.jpg
    alt: manage
    width: 80%

- slide: HOW
  title:
    text: Get instructions
  text:
    text: A screenshot from the Finnish site.<br>Netizen gets a human-friendly problem description, free instructions and also pointers to commercial services.
  img:
    src: ../img/get-instructions.jpg
    alt: manage
    width: 80%

- slide: HOW
  title:
    text: Be ready for compelling events
  img:
    src: ../img/dontbe.jpg
    alt: Don't be attacker banner
    width: 70%

- slide: Study
  title:
    text: Like the idea?
  subtitle:
    text: Tell your contact you would like to talk to us.
  text: <a href="index.html"> &gt; Back to Jani's letter. </a>

---

{% for slide in page.slides %}

    <!--- post post post -->

    {% if slide.layout == null %}
        {% assign layout = "slide-default" %}
    {% else %}
        {% assign layout = slide.layout %}
    {% endif %}

    {% include {{layout}}.html %}

    <!--- END post post post -->


{% endfor %}
