---
layout: page
title: Badrap - Security Information Marketplace
ogdescription: We are working on a way to help victims and researchers to alert you if they find out that your devices are hacked, or could be hacked.
ogurl: http://about.badrap.io/
ogimage: http://about.badrap.io/img/social-opengraph.jpg
twittercard: summary_large_image
twitter: "@BadRapIO"
styles:
  - vendor/agency/css/agency.min.css
  - css/badrap.css
---
<!-- Header -->
<header class="masthead" id="page-top">
    <div class="container rapwhite">
        <div class="intro-text">
            <div class="row rapwhite">
                <div class="col-md-12 col-lg-6 col-xl-6">
                    <div class="intro-lead-in pull-left">
                        <h1 class="py-4">Delivering Security Information to the People</h1>
                        <p>
                            Society and individuals need safety to progress and prosper. Regular people need
                            help with their cyber security, and we see security experts
                            with information and ability to help. We also see victims, who are attacked via hacked
                            devices. We are creating a place for them to meet and warn each other. We
                            <a id="go-to-testaaverkkosi" href="https://testaaverkkosi.fi">opened in Finland</a> and are working to
                            go global.
                            <br>
                            <br>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="container-fluid rapdark" id="ecosystem">
    <div class="row my-0 justify-content-center">
        <div class="col-md-4 col-sm-6 mx-auto text-center rapborder">
            <a class="js-scroll-trigger" href="#researchers">
            <p class="tag" id="go-to-security-researchers-short"> Security Researchers </p>
            </a>
            <i class="fas fa-user-ninja fa-5x py-3"></i>
            <br>
            <i class="fas fa-heart fa-2x"></i>
            </p>
            <p class="tag">Companies and individuals</p>
        </div>
        <div class="col-md-4 mx-auto text-center rapborder">
            <p class="tag">Individuals</p>

            <i class="fas fa-users fa-5x py-3"></i>
            <br>
            <i class="fas fa-heart fa-2x"></i>
            </p>
            <p class="tag">Security Researchers and Companies</p>

        </div>

        <div class="col-md-4 col-sm-6 mx-auto text-center">
                <p class="tag">Companies</p>

                <i class="fas fa-handshake fa-5x py-3"></i>
                <br>
                <i class="fas fa-heart fa-2x"></i>
                </p>
                <p class="tag">Security Researchers and individuals</p>
            </div>
    </div>
</div>
</div>

<div class="container-fluid py-5 px-5">
    <div class="row space">

        <div class="col-md-6 illustrate connects order-md-1 order-sm-2 order-2"></div>
        <div class="col-md-6 col-lg-6 col-xl-6 my-auto order-md-2 order-sm-1 order-1">
            <h1>Sharing is caring. We want to connect people who care.</h1>
            <p> When
                <em>Security Researchers</em> discover information about vulnerabilities
                and data breaches, they want to warn you and affected companies.
                When
                <em>companies</em> learn hackers stole your private information, they
                need to warn you.
                <em>You</em> care about the privacy and security of yourself and your
                close ones. Moreover,
                <em>you</em> don't want to help attackers to attack others. All this
                is why Badrap exists. We connect people and companies who care about
                each other and let them warn each other.
        </div>
    </div>
</div>
{% include frontpage-researchers.html %}
{% include frontpage-team.html %}
