---
layout: researchers
title: Badrap Security Researcher Community
ogdescription: Badrap Security Researcher Community
ogurl: http://www.badrap.io/
ogimage: http://www.badrap.io/img/social-opengraph.jpg
twittercard: summary_large_image
twitter: "@BadRapIO"
styles:
  - /vendor/agency/css/agency.min.css
  - /css/badrap.css
  - researchers.css
researchers:
  - name: ShadowServer Foundation
    logo: shadowserver.png
    description: >
        Established in 2004, The Shadowserver Foundation gathers intelligence on the
        darker side of the internet. We are comprised of volunteer security professionals
        from around the world. Our mission is to understand and help put a stop to high
        stakes cybercrime in the information age.
        ShadowServer reports are available in select countries.

    links:
        twitter: https://twitter.com/shadowserver
        web: https://www.shadowserver.org/
        linkedin: https://www.linkedin.com/company/the-shadowserver-foundation
  - name: Fitsec
    logo: fitsec.png
    description: >
        <a href="http://www.fitsec.fi/index_en.html" target="_blank">Fitsec</a> provides
        customised security solutions ranging from
        penetration testing to hardware-based safety solutions. Among them,
        we provide threat intelligence feed to keep companies and individuals aware of malicious
        activity in their networks. Our feeds are free for individual victims via Badrap.
        Enterprises can subscribe to our feeds for a price.
    links:
        linkedin: https://www.linkedin.com/company/fitsec-ltd
        web: https://www.fitsec.fi
  - name: Telia Darknet
    logo: telia.svg
    description: >
        We protect our customers with the help of our Darknet and NCSC-FI's
        <a href="https://www.viestintavirasto.fi/kyberturvallisuus/viestintavirastontietoturvapalvelut/havainnointijaavunanto/autoreporter.html"
        target="_blank">Autoreporter</a> service. Microsoft has referred to our work as
        <a href="https://cloudblogs.microsoft.com/microsoftsecure/2012/03/07/teliasonera-finlands-secret-for-a-secure-internet/"
        target="_blank">
        Finland’s Secret for a Secure Internet</a>.
        The Darknet is based on the
        <a href="https://tietoturva.fi/yhdistyksentoiminta/opinnaeytetyoekilpailu/aikaisemmat-opinnaeytetyoekilpailujen-voittajat/43-opinnaeytetyoekilpailun-voittajat-2010"
        target="_blank">
        great MSc thesis work</a> by Markku Parviainen. Our Darknet catches
        infected computers by recording connection attempts to unused IP-addresses. Only a fraction of our
        findings is about our customers. That is why we offer our darknet data for others to use and keep people secure.
    links:
        linkedin: https://fi.linkedin.com/in/markku-parviainen
        web: https://www.tietoturva.fi/yhdistyksentoiminta/opinnaeytetyoekilpailu/aikaisemmat-opinnaeytetyoekilpailujen-voittajat/43-opinnaeytetyoekilpailun-voittajat-2010
  - name: Deutsche Telecom Honeypot Project
    logo: sicherheitstacho.png
    description:
    links:
        github: https://github.com/dtag-dev-sec/
        web: http://sicherheitstacho.eu/start/main
    description: >
        In the last couple of years, we at Deutsche Telekom’s honeypot project have
        set up more than 200 honeypots in our home networks, Telekom’s access networks and
        at partner locations all around the globe. The data gathered by those honeypots
        is a core component of our Early Warning System and feeds the data for the
        <a href="http://sicherheitstacho.eu" target="_blank">Sicherheitstacho</a> security dashboard.
---
<div class="container-fluid researcher rapdark">
    <div class="row ">
        <div class="column  col-md-3">
            <h1>Badrap Security Researchers</h1>
        </div>
    </div>
</div>
<div class="containerf-fluid rapwhite" style="background-color: #f6f6f6;">
    <div class="row py-5 justify-content-center">
        <div class="column col-md-9">
            <h1 class="text-center">Become a Badrap Security Researcher</h1>
            <p class="text-center">
            Do you scan the net and have tons of trivial issues, but no good way to reach the
            victims? Do you monitor the dark corners of the Internet, and discover stolen data?
            Join to the Badrap security researcher community. Get a profile page and share the data
            you have. Offer your feeds for free or work only for bounties.
            Serve individuals and enterprises. Sign up and start building your reputation today. </p>
            <a href="https://docs.google.com/forms/d/e/1FAIpQLSfEiku2UKg4OQxl0hBfzVuUHOk_ZeE4ygpx40gdLv2NaP6Amw/viewform?usp=sf_link">
            <button type="button" class="btn btn-rap">Sign Up!</button>
            </a>
        </div>
    </div>
</div>
<div class="container rapwhite">
    <div class="row pt-5 justify-content-center">
        <div class="column col-md-12">
            <h1 class="text-center">Early adopters</h1>
        </div>
    </div>
</div>

{% for researcher in page.researchers %}
<div class="container-fluid rapwhite">

    <div class="row resercherrow pb-5 px-3">
        <div class="circle column col-md-3 d-flex align-items-center justify-content-center">
            {% if researcher.logo %}
            <img src="{{researcher.logo}}" alt="logo" width="100%"> {% else %}
            <i class="fas fa-user-alt fa-8x" style="color: #222;"></i>
            {% endif %}
        </div>

        <div class="column col-md-7 justify-content-center align-items-center">
            <h2>{{researcher.name}}</h2>

            <p class="py-2"> {{researcher.description}} </p>
        </div>
        <div class="column col-md-2 d-flex align-items-center">
            <ul class="list-inline banner-social-buttons">
                {% if researcher.links.web %}
                <li class="list-inline-item py-1">
                    <a href="{{researcher.links.web}}" class="btn btn-secondary btn-md">
                        <span class="network-name">W</span>
                    </a>
                </li>
                {% endif %}
                {% if researcher.links.twitter %}
                <li class="list-inline-item py-1">
                    <a href="{{researcher.links.twitter}}" class="btn btn-secondary btn-md">
                        <i class="fab fa-twitter fa-fw"></i>
                    </a>
                </li>
                {% endif %}
                {% if researcher.links.github %}
                <li class="list-inline-item py-1">
                    <a href="{{researcher.links.github}}" class="btn btn-secondary btn-md">
                        <i class="fab fa-github fa-fw"></i>
                    </a>
                </li>
                {% endif %}
                {% if researcher.links.linkedin %}
                <li class="list-inline-item py-1">
                    <a href="{{researcher.links.linkedin}}" class="btn btn-secondary btn-md">
                        <i class="fab fa-linkedin fa-fw"></i>
                    </a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>
{% endfor %}
