---
layout: health
title: Cyber Health for Employees
styles:
  - ../../custom.css

heading: Stay safe online
subheading: Cyber Health Month for the Employees - Week 1

leftbox:
  - Learn:
    heading: Learn
    text: >
      During this month you will learn how to protect yourself and your family online.
      Each week you will receive a small dose of information related to your personal
      online safety.
  - Personal Tools:
    heading: Get Personal Tools
    text: >
      You need tools to stay safe. This week you will get to know an easy-to-use tool
      which tells you if you are in danger. If the tool reveals an issue, it will also help you to mitigate
      them. You will get instructions. If you need help, contact Badrap and get your assigned expert Jani to talk with
      you. Support contact details are <a href="../">here.</a>
  - Rewards:
    heading: Get Rewards
    text: >
      You don't need to be a security expert to win. Being active is enough.
      Just take the ten minutes per week to learn and use the badrap.io tool according to the instructions
      we will provide. The employee who claims most assets will get F-Secure Sense secure router.
      Employees with the best answers in feedback forms will get movie tickets.
  - Get started:
    heading: Get Started
    text: >
      Follow the simple steps in your mission box at the end of this page. It takes about 10 minutes.
      See you next week with a new mission!
rightbox:
  - Ingress:
    heading: Your Personal Safety Matters
    text: >
      Sometimes personal data leaks from Internet services, like Facebook or Strava.
      Criminals use this information to conduct further attacks or run credible-looking scams.
      Sometimes Internet-connected devices get compromised and abused.
      It is important to make sure that your data or devices are not used as stepping stones in any attack.
  - Picture:
    img: badrapio.jpg
    img-text: Week 1 - check that you are not in danger.
  - Mission:
    subheading: Your mission this week
    text: >
      Your mission this week, should you accept it, is to improve your ability to detect if you are in danger.
      That way you can protect yourself, people close to you, and your employer.
      See your mission box below to register to badrap.io.
      Next week, we will teach you how to add your personal email and network addresses
      to data breach monitoring.
  - Privacy:
    subheading: Occupational Cyber Health
    text: Employees are entitled to preventive occupational health care financed and arranged by the employer. Your employer wants to help you in the same way with cybersecurity. This works both ways, by making sure you are safe you help to create a more secure workspace.<br><br>Just like with the traditional occupational health, Badrap does not share any details about you to your employer. Even Badrap staff can't easily access your personal information. And we will not send you marketing messages. Just important warnings and monthly "all good" email.

missionbox:
  heading: Your mission for week 1
  text: Take these easy steps to qualify for rewards&#58
  steps:
    - Click the button below to register at badrap.io. Return to this page when you are done for the step 2.
    - Click the button below to give your employer plus point in cybersecurity awareness and to learn how many assets an average badrap.io user monitors.

---
<div class="container horizontal-border wider-mobile">
  <div class="row row-header mb-5">
    <div class="column col-12 col-header px-0 text-center">
      <h1> {{page.heading}}</h1>
      <h2> {{page.subheading}}</h2>
    </div>
  </div>
  <div class="row bottom-border pb-4">
    <div class="column col-left col-12 col-lg-4">
      <div class="rapdark">
        {% for feature in page.leftbox %}
        <h3>{{feature.heading}}</h3>
        <p> {{feature.text}} </p>
        {% if feature.button != null %}
        {{feature.button}}
        {% endif %}
        {% endfor %}
      </div>
    </div>
    <div class="col-right column col-12 col-lg-8 left-border">
      {% for item in page.rightbox %}
      {% if item.heading != null %}
      <h3>{{item.heading}}</h3>
      {% endif %}

      {% if item.subheading != null %}
      <h4>{{item.subheading}}</h4>
      {% endif %}

      {% if item.img != null %}
      <img src="{{item.img}}" width="100%">
      <p class="img-text">{{item.img-text}}</p>
      {% endif %}

      {% if item.text != null %}
      <p>{{item.text}}</p>
      {% endif %}
      {% endfor %}
    </div>
  </div>
  <div class="row justify-content-md-center pt-5">
    <div class="column mission col-md-11 col-lg-8 py-2 mb-5">
      <h2>{{page.missionbox.heading}}</h2>
      <p> {{page.missionbox.text}}</p>
      <ol>
        {% for listitem in page.missionbox.steps %}
        <li>{{listitem}}</li>
        {% endfor %}
      </ol>
      <a class="btn btn-primary" target="_blank" role="button" href="https://badrap.io/?utm_source=hygiene-week-1&utm_medium=landing-page&utm_campaign=hygiene-key&utm_content=week1">Register</a>
      <a class="btn btn-primary" target="_blank" role="button" href="https://docs.google.com/forms/d/e/1FAIpQLScHn0tu44OX-R2Oeqk8rDyByg2XUSD2Foh4UlDSp183AYJ9pg/viewform">+1 for employer</a>

    </div>
  </div>

</div>