---
layout: mombo
ogdescription: Company Cyber Hygiene
ogimage: https://hygiene.badrap.io/company/ogimage.jpg
title: Company Cyber Hygiene by Badrap
tagline: Discover and protect your cloud assets
keywords: Office 365 Security, O365 Security, AWS Security, Cloud Security, Asset Discovery, Attack Surface
styles:
    - custom.css
title: Badrap Company Cyber Hygiene
home:
    heading:
        en: Introducing Company Cyber Hygiene
    text:
        en: Discover and protect your cloud assets
    cta-text:
        en: Sign up for a free pilot
    cta:
        en: Try it
    form:
        en: https://share.hsforms.com/1NgC7RX4rQZ6BcH6M0xGk0A2ecmj
    img:
        src:
            en: cloud-banner.svg
        title:
            en:
        alt:
            en:
about:
    heading:
        en: Keep track of your cloud, no fuss
    heading2:
        en: In practice
    text:
        en: Keep track of your assets, correlate them against security reports, and get warnings. Always and automatically.
    text2:
        en: Security products should be as easy to use as the best consumer services. Let us show you how easy it is to improve your security with Badrap.

    features:
      - O365:
        id: o365-discovery
        icon: fab fa-microsoft
        heading:
            en: Discover your O365 assets
        text:
            en: See if your employees are at risk of being used against their employer.
        img:
            src: o365.jpg
            alt: O365 screenshot

        details:
            en: >
              First, you enable the integration and approve the strictest possible set of permissions needed for O365 asset discovery.
              Then Badrap starts fetching your O365 email addresses and shows them in your asset list.
        highlight:
            heading:
                en: Three-click setup
            text:
                en: When was the last time adopting a new security feature was this easy?
        highlight2:
            heading:
                en: Continuous autodiscovery
            text:
                en: Badrap works 24/7 keeping your asset list fresh, as it should be.

      - AWS:
        id: aws-discovery
        icon: fab fa-aws
        img:
            src: aws.jpg
            alt: AWS
        heading:
            en: Discover your AWS assets
        text:
            en: Map your AWS attack surface and get security warnings for it.
        details:
            en: First Badrap instructs you on how to create a new AWS IAM role for asset discovery. It will also provide a readily-made IAM policy with strictest possible permissions for asset discovery. Once enabled, you will see your AWS assets in your asset list, along with the warnings.
        highlight:
            heading:
                en: Use it yourself
            text:
                en: Get an always-up-to-date list of your Internet-facing assets.
        highlight2:
            heading:
                en: Get visibility to your teams
            text:
                en: Got many teams working on AWS? This is your way to get visibility to their assets and security issues.

      - Correlation:
        id: security-correlation
        icon: fas fa-sync-alt
        img:
            src: researcher.jpg
            alt: Researcher
        heading:
          en: Correlate with reports
        text:
          en: Badrap monitors if your assets appear in security researchers' reports.
        details:
          en: >
            Badrap does that automatically for you. We receive reports from security researchers.
            Reports contain information about vulnerabilities, infections and data breaches.
            Every report is tied up to certain identity, such as IP or email address.
            When Badrap knows your public IP addresses and email addresses, it can detect if you are on their lists.
        highlight:
          heading:
              en: Standard reports
          text:
              en: Badrap receives regular reports from hand-picked security researchers. Are your assets on their lists?
        highlight2:
          heading:
              en: Custom reports
          text:
              en: Make things easy for yourself. Get all your external security reports from one place.

      - Warnings:
        id: security-warnings
        icon: fas fa-exclamation-triangle
        img:
          src: warning.jpg
          alt: warning
        heading:
          en: Get security warnings

        text:
          en: If Badrap notices any critical issues, it will notify you via email.

        details:
          en: You can see all your alerts from Badrap's dashboard. Badrap will also warn you via email if something new has been found.
        highlight:
          heading:
              en: Email warnings
          text:
              en: We won't spam. The security researchers we have picked produce only high-quality findings. 98% of our users keep email notifications on.
        highlight2:
          heading:
              en: Dashboard
          text:
              en: Review all your assets quickly. O365, Amazon and even your personal assets, all neatly grouped.

testimonials:
    heading:
      en: Why people love Badrap
    text:
      en: Badrap combines enterprise-grade security with a user experience usually seen only in the best consumer services. That is why organisations of different sizes and people with different backgrounds all enjoy the service.  
    list:
      - Sebastian:
        name: Sebastian Turpeinen
        title: Developer
        text:
          en: SensorFu develops Beacon, which our customers use to test network isolation. We test our builds in Amazon AWS. Setting up Badrap's AWS integration took 7 minutes. Most of the time went into learning more about AWS roles. This product is awesome!
      - Pekka:
        name: Pekka Pietikäinen
        title: Security expert
        text:
          en: My new router had a name service open to the Internet by accident. Thanks to Badrap’s automatic alert I noticed it quickly and fixed the problem before there was any damage.
      - Marika:
        name: Marika Kaukola
        title: Small business owner
        text:
          en: The Tohninmäki House in a peaceful countryside setting offers a wonderful place for staying and celebrating. Thanks to the badrap.io service, we have further improved the safety of our visitor network.
      - Jouko:
        name: Jouko Voutilainen
        title: Individual user
        text:
          en: Using Badrap is an incredibly convenient way of securing yourself against data breaches and vulnerabilities. Everyone should use it!
team:
    heading:
        en: Founded by
    text:
        en: Badrap is founded by security veterans, who want to democratise security information sharing.
    members:
        - Jani:
          name: Jani Kenttälä
          nick: evilon
          title: CEO
          linkedin: https://www.linkedin.com/in/janikenttala/
          twitter: https://twitter.com/janikenttala
          medium: https://medium.com/@janikenttala
          github: https://github.com/evilon
          img:
            src: /img/jani.jpg
        - Jukke:
          name: Joachim Viide
          nick: jviide
          title: CTO
          linkedin: https://www.linkedin.com/in/jviide/
          twitter: https://twitter.com/jviide
          github: https://github.com/jviide
          medium: https://medium.com/@jviide
          img:
            src: /img/jviide.jpg
        - Bruno:
          name: Bruno Triani
          nick: btriani
          title: Business Developer
          img:
            src: /img/bruno.jpg
          linkedin: https://www.linkedin.com/in/btriani/
          medium: https://medium.com/@btriani
          twitter: https://twitter.com/bruno_triani
        - Heikki:
          name: Heikki Kortti
          nick: hkortti
          title: Speaks for the victims
          img:
            src: /img/heikki.jpg
          github: https://github.com/hkortti
        - Hillar:
          name: Hillar Aarelaid
          nick: hillar
          title: Speaks for the researchers
          linkedin: https://www.linkedin.com/in/hillaraarelaid/
          github: https://github.com/hillar
          img:
            src: /img/hillar.jpg
        - Merike:
          name: Merike Kaeo
          nick: merike
          title: Advisor
          twitter: https://twitter.com/estodoubleshot
          linkedin: https://www.linkedin.com/in/merike-kaeo-52910a/
          img:
            src: /img/merike.jpg
cta:
    heading:
        en: Let's start working together
    subheading:
        en: Contact us
    text:
        en: See how easy it is to discover your attack surface and get related security warnings.

---


{% assign content = page %}
   <!-- Main -->
    <main>
        <!-- Home Banner -->
        <section id="home" class="effect-section gray-bg">
            <div class="effect theme-bg effect-skew"></div>
            <div class="particles-box" id="particles-box"></div>
            <div class="container container-large">
                <div class="row full-screen align-items-center p-100px-tb">
                    <div class="col-12 col-lg-5 col-xl-4 p-50px-tb px-5">
                        <h1 class="white-color h1 font-w-600 m-15px-b">{{content.home.heading.en}}</h1>
                        <p class="font-1 white-color-light font-w-400 m-20px-b">{{content.home.text.en}}</p>
                        <a class="m-btn m-btn-theme2nd" href="{{content.home.form.en}}">{{content.home.cta.en}}</a>
                        <br>
                    </div>
                    <div class="col-lg-7 col-xl-8">
                        <img class="max-width-auto" src="{{content.home.img.src.en}}" title="{{content.home.img.title.en}}" alt="{{content.home.img.alt.en}}">
                    </div>
                </div>
            </div>
        </section>
        <!-- End Home Banner -->

        <!-- Section -->
        <section id="about" class="section gray-bg">
            <div class="container">
                <div class="row md-m-25px-b m-45px-b justify-content-center text-center">
                    <div class="col-lg-8">
                        <h3 class="h1 font-w-600 dark-color m-20px-b p-20px-b theme-after after-50px">{{content.about.heading.en}}</h3>
                        <p class="m-0px font-1">{{content.about.text.en}}</p>
                    </div>
                </div>
                <div class="row">
                    {% for feature in content.about.features %}
                    <div class="col-md-6 col-lg-3 m-15px-tb">
                        <div class="box-shadow hover-top white-bg border-radius-5 theme-hover-bg p-20px-lr p-40px-tb text-center">
                            <div class="icon-80 gray-bg dots-icon border-radius-50 theme-color d-inline-block m-20px-b">
                                <i class="{{feature.icon}}"></i>
                                <span class="dots"><i class="dot dot1"></i><i class="dot dot2"></i><i class="dot dot3"></i></span>
                            </div>
                            <h6 class="dark-color font-w-600">{{feature.heading.en}}</h6>
                            <p class="m-0px">{{feature.text.en}}</p>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </section>
        <!-- End Section -->

        <!-- Section -->
        <section id="feature" class="section">
            <div class="container">
                <div class="row md-m-25px-b m-45px-b justify-content-center text-center">
                    <div class="col-lg-8">
                        <h3 class="h1 font-w-600 dark-color m-20px-b p-20px-b theme-after after-50px">{{content.about.heading2.en}}</h3>
                        <p class="m-0px font-1">{{content.about.text2.en}}</p>
                    </div>
                </div>
                <div class="tab-style-1">
                    <ul class="nav nav-fill nav-tabs">
                        {% assign class = "active" %}
                        {% for feature in content.about.features %}
                        <li class="nav-item">
                            <a href="#{{feature.id}}" data-toggle="tab" class="{{class}}">
                                <div class="icon"><i class="{{feature.icon}}"></i></div>
                                <span>{{feature.heading.en}}</span>
                            </a>
                        </li>
                        {% assign class = "passive" %}
                        {% endfor %}
                    </ul>
                    <div class="tab-content">
                        {% assign class = "active show" %}
                        {% for feature in content.about.features %}
                        <!-- start tab content -->
                        <div id="{{feature.id}}" class="tab-pane fade in {{class}}">
                            {% assign class = "none" %}
                            <div class="row align-items-center p-25px-t md-p-15px-t">
                                <div class="col-lg-6 text-center">
                                    <img src="{{feature.img.src}}" title="" alt="">
                                </div>
                                <div class="col-lg-6">
                                    <div class="p-70px-l lg-p-0px-l lg-m-30px-t">
                                        <h2 class="h1 font-w-600 dark-color m-25px-b">{{feature.heading.en}}</h2>
                                        <p class="m-5px-b">{{feature.details.en}}
                                        </p>
                                        <div class="row">
                                            <div class="col-md-6 m-15px-tb">
                                                <h5 class="theme-color h6 font-w-600 m-10px-b">{{feature.highlight.heading.en}}</h5>
                                                <p class="m-0px">{{feature.highlight.text.en}}</p>
                                            </div>
                                            <!-- col -->
                                            <div class="col-md-6 m-15px-tb">
                                                <h5 class="theme-color h6 font-w-600 m-10px-b">{{feature.highlight2.heading.en}}</h5>
                                                <p class="m-0px">{{feature.highlight2.text.en}}</p>
                                            </div>
                                            <!-- col -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end tab content -->

                        {% endfor %}

                    </div>
                </div>
            </div>
        </section>
        <!-- End Section -->


        <!-- Section -->
        <section class="section" id="testimonials">
            <div class="container">
                <div class="row justify-content-between">
                    <div class="col-lg-5 m-15px-tb">
                        <h2 class="dark-color font-w-600 m-20px-b">{{content.testimonials.heading.en}}</h2>
                        <p class="font-2">{{content.testimonials.text.en}}</p>
                    </div>
                    <div class="col-lg-6 m-15px-tb">
                        <div class="owl-carousel" data-items="1" data-nav-dots="true" data-md-items="1" data-sm-items="1" data-xs-items="1" data-xx-items="1" data-space="0">
                            {% for testimonial in content.testimonials.list %}
                            <div class="box-shadow m-10px overflow-hidden border-radius-5" style="height: 100%;">
                                <div class="d-flex align-items-center h-100 min-h-150px bg-cover bg-no-repeat position-relative">
                                    <div class="mask theme-bg opacity-5"></div>
                                    <div class="position-relative w-100 text-center">
                                        <h5 class="white-color m-0px font-w-600">{{testimonial.name}}</h5>
                                        <h5 class="white-color m-0px font-w-400">{{testimonial.title}}</h5>

                                        <label class="m-0px font-alt font-small white-color"></label>
                                    </div>
                                </div>
                                <div class="mt-n4 p-20px-lr p-30px-b position-relative text-center">
                                    <div class="icon-50 theme2nd-bg border-radius-50 d-inline-block white-color m-15px-b"><i class="fas fa-quote-left"></i></div>
                                    <p class="m-0px">{{testimonial.text.en}}
                                       </p>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Section -->
       <!-- Section -->
       <section id="team" class="section gray-bg">
        <div class="container">
            <div class="row md-m-25px-b m-45px-b justify-content-center text-center">
                <div class="col-lg-8">
                    <h3 class="h1 font-w-600 dark-color m-20px-b p-20px-b theme-after after-50px">{{content.team.heading.en}}</h3>
                    <p class="m-0px font-1">{{content.team.text.en}}</p>
                </div>
            </div>
            <div class="row">
                {%for member in content.team.members%}

                <div class="col-lg-4 col-sm-6 m-15px-tb">
                    <div class="hover-top-in text-center">
                        <div class="avatar-220 border-radius-50 d-inline-block">
                            <img src="{{member.img.src}}" title="" alt="">
                        </div>
                        <div class="m-10px-lr box-shadow border-radius-5 position-relative mt-n4 white-bg p-20px text-center hover-top--in">
                            <h6 class="font-w-600 dark-color m-5px-b">{{member.name}}</h6>
                            <small>{{member.title}}</small>
                            <div class="social-icon si-30 theme round nav justify-content-center p-10px-t">
                                {% if member.linkedin %}
                                <a href="{{member.linkedin}}" id="gt-{{member.nick}}-linkedin"><i class="fab fa-linkedin-in"></i></a>
                                {% endif %}
                                {% if member.twitter %}
                                <a href="{{member.twitter}}" id="gt-{{member.nick}}-twitter"><i class="fab fa-twitter"></i></a>
                                {% endif %}
                                {% if member.medium %}
                                <a href="{{member.medium}}" id="gt-{{member.nick}}-medium"><i class="fab fa-medium"></i></a>
                                {% endif %}
                                {% if member.github %}
                                <a href="{{member.github}}" id="gt-{{member.nick}}-github"><i class="fab fa-github"></i></a>

                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                {%endfor%}
            </div>
        </div>
    </section>
        <!--End Section -->

        <!-- Section -->
        <section id="contact" class="section bg-cover bg-no-repeat bg-center" style="background-position: 10% 40%; background-image: url(planning.jpg); ">
            <div class="container">
                <div class="row justify-content-center align-items-center">
                    <div class="col-md-6 col-lg-5">
                        <h3 class="h1 font-w-600 white-color m-20px-b p-20px-b white-after after-50px">{{content.cta.heading.en}}</h3>
                    </div>
                    <div class="col-md-6 col-lg-4 col-xl-3">
                        <div class="border-all-10 border-color-white p-60px-tb p-20px-lr theme-bg m-25px-tb">
                            <h5 class="font-2 white-color m-10px-b">{{content.cta.subheading.en}}</h5>
                            <p class="white-color-light m-30px-b">{{content.cta.text.en}}</p>
                            <a class="m-btn m-btn-theme2nd" id="gt-signup-pilot-end" href="{{content.home.form.en}}">{{content.home.cta.en}}</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Section -->
    </main>
    <!-- End Main -->
