<section class="anchor" id="companies">
    <div class="container-fluid col-sm-12 headerbanner companypic">
        <div class="row">
            <div class="col-md-5 text-center py-5 my-auto">
                <h1>Companies</h1>
                <i class="fas fa-3x fa-heart tag-white"></i>
                <h2>
                    individuals</h2>
            </div>
        </div>
    </div>
    <div class="container">

            <div class="row featurette space">
                    <div class="col-md-5 illustrate assets order-sm-2 order-md-2"></div>
                    <div class="col-md-1 order-md-3"></div>
                    <div class="col-md-6 my-auto order-sm-1 order-md-1">
                        <h3>Prevent Data Breaches with Employee Online Hygiene</h3>
                        <p>Vulnerable employee equals vulnerable company. 
                           Protect your employees with our Employee Online Hygiene program. 
                           Point your employees to our service. There emplyees can check 
                           if security researchers have tried to warn them about stolen identities
                           or insecure networks they are using to connect. If your employess are in 
                           danger, we will warn them and provide instructions on how to protect themselves.
                         </p>
                    </div>

                </div>
            <div class="row featurette space darker">
                <div class="col-md-5 illustrate assets order-sm-2 order-md-2"></div>
                <div class="col-md-1 order-md-3"></div>

                <div class="col-md-6 my-auto order-sm-1 order-md-4">
                    <h3>Proactive data breach monitoring</h3>

                    <p> Would you trust a firefighter who knows all about fire alarms, but has never
                        put out a fire? Now you know why you should also prepare for data breaches. 
                        When a breach happens, you will be judged on how you react.
                        That is why best companies expect the best, but prepare for the worst. 
                    </p>
                    <p>
                        First thing you need is maximum amount of time to react. Be first to hear
                        about the data breach! Sign up to Proactive Data Breacch monitoring! 
                        Security Researchers monitor the dark corners of the net, as well as
                        other typical places where stolen information gets delivered. List your 
                        assets (Emails, Domains, Network-ranges and other online identities)
                    </p>
                </div>
            </div>



        
        <div class="row featurette space">
            <div class="col-md-6 my-auto">
                <h3>
                    Recover from a Data Breach
                </h3>
                <p>
                    When companies suspect a data breach, there are a number of questions they
                    need to answer. Is the breach actually a breach?  How it was
                    possible? Who was affected?  What leaked, and so forth.
                    Now, with GDPR companies have a new set of tasks to take care of and 
                    they need to be on top of things in 72-hours. 
                </p>
                <p>
                    First thing you need to do is to get on top of the situation as fast as possible.
                    How to do that? First, have tools you can rely on at the time of crisis. 
                    A trusted channel to coordinate the response. A status page for shared 
                    situational awareness. And backup system for notifying the victims, if 
                    it comes to that. By working with us, you will have all this, acccompanied
                    with professionals you need but don't have them inhouse, be it from legal, 
                    crisis communication or technical domains.
                </p>
                <a href="gdpr72h/">
                    <button type="button" class="btn btn-rap">Read more</button>
                </a>
                or
                <button type="button" class="btn btn-rap">Call our hotline</button>
            </div>

            <div class="col-md-5 illustrate breaches-companies"></div>
            <div class="col-md-1"></div>
        </div>
        

    </div>
</section>