<section id="team" class="anchor">

<div class="container-fluid rapdark">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1> We
                    <i class="fas fa-heart"></i> you all</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-5 text-left">
                <h3>Founded by</h3>
                <ul>
                    <li>Jani Kenttälä, CEO</li>
                    <li>Joachim Viide, CTO</li>
                    <li>Hillar Aarelaid, Researchers</li>
                    <li>Heikki Kortti, Individuals</li>
                    <li>Ville Alatalo, DevPubOps</li>
                </ul>

            </div>
            <div class="col-md-1"></div>

            <div class="col-md-5 text-left">
                <h3>Funded by</h3>
                <ul>
                    <li>Ääkköset Oy</li>
                    <li>Business Finland</li>
                </ul>
            </div>
        </div>
        <div class="row">		
            <div class="col-md-1"></div>		
            <div class="col-md-5">		
                <p> <em> "We are entrepreneurs with a long background on information security. We want to democratize the information		
                    sharing. We've seen the benefits in smaller scale, and now want to scale it up		
                    out of its proportions."</em> <br>-- Jani		
                </p>		
            </div>		
            <div class="col-md-1"></div>		
    
            <div class="col-md-5">		
                <p><em>"Today access to security information is still a privilege of a few. 
                    Badrap's seasoned team is dead set on democratizing it. 
                    We are proud to support them" </em> <br>-- Ääkköset Oy		
                </p>		
            </div>		
        </div>
    </div>
</div>
</sectinon>