
<section class="content" id="companies" >
        <div class="container-fluid headerbanner illustrate gdprpic" >
            <div class="row">
                <div class="col-md-4 text-center py-5 my-auto">
                    <h1>Enterprises</h1>
                    <h2>care about you</h2>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row featurette">
                <div class="col-md-6">
                    <h3>
                        Enterprises protect your privacy
                    </h3>
                    <p> When it comes to data breach notifications, our enterprise customers meet the 
                        high standards of the European General Data Protection Regulation (GDPR).
                        Some companies invest only to preventive measures and hope for the best. 
                        Our enterprise customers are as diligent as firefighters. They already know
                        nobody is immune, so they also prepare for the worst.
                    </p>

                    <h3>
                        The best comply with <img src="img/gdpr72-logo.svg" width="150" style="padding-bottom: 12px;">
                    </h3>

                    <p>
                        At the time of crisis,  have a number of things going on, the GDPR-clock is ticking. 
                        Poorly handled case may blow the crisis out of its proportions and cause millions in losses.
                        Let us help you to manage your reputation!
                    </p>
                    
                    <p>
                        Badrap is specialized on communicating security issues
                        to individuals. We have robust and hassle-free way to deliver the notifications to the users. 
                        We also analyse the user response and give you an estimate of your support load. 
                        We also take weight off from your helpdesk by providing up to date and easy-to-understand
                        information to the individuals.
                    </p>
                        <a href="gdpr72"><button type="button" class="btn btn-dark">Read more!</button></a>
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-5">
                    <h3>Be Ready<h3>
                    <p> Even the best security measures won't help against clever hackers. Just like the 
                        professional firefighters, best enterprises are always prepared. To care about you
                        is to prepare to protect you. We help Enterprises to prepare and take care.
                    </p>
        
                    <h3>Get Set</h3>
                    <p>Eterprises maintain their readiness and monitor the dark corners
                       of the internet to detect data breaches. And they keep our highly 
                       reduntant and continuosly tested email and text messaging servcie ready so that
                       they can warn you when ever they need.
                    </p>
        
                    <h3>Go!</h3>
                    <p>When they become aware of a data breach, they are ready. 
                       They have the people, processes and products in place to take care of you. 
                       When your rights and freedoms are at risk, you will be notified with clear message
                       and instructions.
                    </p>            
                    
                </div>
            </div>
                        
        </div><!-- /.container -->
        