

<div class="container-fluid headerbanner researcher">
    <div class="row">
        <div class="col-md-4 text-center py-5 my-auto">
            <h1>Badrap for Security Researchers</h1>
        </div>
    </div>
</div>
<div class="container">
    <div class="row py-5">
        <div class="col-md-6 illustrate  breaches"></div>
        <div class="col-md-6 text-center py-5">
            <h3>Become a Badrap Security Researcher</h3>
            <p> Fixme
            </p>
        </div>  
    </div>
</div>
