<section class="content" id="companies">
    <div class="container-fluid col-sm-12 headerbanner gdprpic">
        <div class="row">
            <div class="col-md-4 text-center py-5 my-auto">
                <h1>Enterprises</h1>
                <h2>care about individuals</h2>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row featurette space">
            <div class="col-md-6 my-auto">
                <h3>
                    Data breaches handled like a pro
                </h3>

                <p>
                    When companies suspect a data breach, there are a number of hoops they
                    need to go through. They need to verify if the breach actually happened. Incident responders
                    need to figure out how the breach was possible and how to prevent it in the future. 
                    They need also need to figure out the scope: what data leaked and who was affected.
                    What systems can still be trusted? The list goes on.
                    you.
                </p>
                <p>
                    Now, GDPR defines a 72-hour window to get on top of things. We help enterprises to 
                    achieve this goal. Working with us,
                    enterprises get on top of things fast and handle suspected data breach diligently.
                    Working with us, the enterprise show they care about you and
                    comply with the GDPR's data breach notification requirements.
                </p>
                <a href="gdpr72h/">
                    <button type="button" class="btn btn-rap">Read more</button>
                </a>
                or
                <button type="button" class="btn btn-rap">call our hotline.</button>
            </div>
            <div class="col-md-6 illustrate breaches"></div>
        </div>
        
        <div class="row featurette space">
            <div class="col-md-6 illustrate assets order-sm-2 order-md-1"></div>
            <div class="col-md-6 my-auto order-sm-1 order-md-2">
                <h3>Get a head start with asset monitoring.</h3>
                <p>With our asset monitoring services enterprises reduce the risk of data breaches from
                   happening and limit the damage to you, if a breach happens. They task security researchers
                   to report about vulnerabilities that could lead to data breaches, as well as for being the 
                   first to hear if malicious hackers have succesfully breached our customer's systems. </p>
            </div>
        </div>

    </div>
</section>