<section id="team" class="anchor">

    <div class="container-fluid rapdark">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h1> We
                        <i class="fas fa-heart"></i> you all</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 order-md-1 order-sm-1">
                    <h3>Founded by</h3>
                    <ul>
                        {% for founder in site.data.company.team %}

                        {% if founder.status != "founder" %}
                            {% continue %}
                        {% endif %}

                        {% if founder.linkedin %}
                        <li>
                            <a class="founderlink" href="{{founder.linkedin}}" target="_blank">
                            {{founder.name}},</a> {{founder.title}}
                        {% else %}
                        <li> {{founder.name}}, {{founder.title}}
                        {% endif %}
                        </li>
                        {% endfor %}

                    </ul>
                </div>

                <div class="col-md-6 order-md-2 order-sm-3">
                    <h3>Funded by</h3>
                    <ul>
                        <li>Ääkköset Oy</li>
                        <li>Business Finland</li>
                    </ul>
                </div>
                <div class="col-md-6 order-md-3 order-sm-2">
                    <p>
                        <em> "We are security professionals and entrepreneurs who have
                            served businesses and citizens of the digital society
                            for decades. We want to democratise security information sharing.
                            We've seen the benefits on a smaller scale, and now want
                            to scale it up out of its proportions."</em>
                        <br>-- Jani Kenttälä, CEO
                    </p>
                </div>

                <div class="col-md-6 order-md-4 order-sm-4">
                    <p>
                        <em>"Today access to security information is still a privilege
                            of a few. Badrap's seasoned team is dead set on democratising
                            it. We are proud to support them."
                        </em>
                        <br>-- Marko Laakso, partner @ Ääkköset"
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
