<section id="companies" class="anchor">

    <div class="container-fluid px-5 py-5 companies ">
        <div class="row space">
            <div class="order-md-2 order-sd-1 col-md-6 p-0 my-auto">

                <h1>Badrap for Companies</h1>
                <p>
                    Data breaches happen at record pace. Many of them could
                    have been prevented by catching misconfigurations and
                    vulnerabilities which expose business critical data to the
                    Internet. Also passwords stolen from third party services
                    help attackers to gain access to other services. Protect
                    yours by protecting your employees!
                </p>
                <a href="/companies" id="go-to-companies-read-more">
                    <button type="button" class="btn btn-rap">Prevent data breaches</button>
                </a>
            </div>
            <div class="order-md-2 order-sd-1 col-md-6 text-center p-0 my-auto">
                <img src="img/companies-icon.svg" class="icon">
            </div>

        </div>
    </div>
</section>
