<section class="content" id="companies">
    <div class="container-fluid headerbanner illustrate gdprpic">
        <div class="row">
            <div class="col-md-4 text-center py-5 my-auto">
                <h1>Enterprises</h1>
                <h2>care about individuals</h2>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row featurette">
            <div class="col-md-6">

                <h3>
                    The best comply with
                    <img src="img/gdpr72-logo.svg" width="150"
                        style="padding-bottom: 12px;">
                </h3>

                <p>
                    At the time of crisis, have a number of things going on, the GDPR-clock is ticking.
                    Poorly handled case may blow the crisis out of its proportions
                    and cause millions in losses. Let us help you to manage your
                    reputation!
                </p>

                <p>
                    Badrap is specialized on communicating security issues to individuals. We have robust
                    and hassle-free way to deliver the notifications to the users.
                    We also analyse the user response and give you an estimate of
                    your support load. We also take weight off from your helpdesk
                    by providing up to date and easy-to-understand information to
                    the individuals.
                </p>
                <a href="gdpr72h/">
                    <button type="button" class="btn btn-dark">Read more!</button>
                </a>
            </div>
            <div class="col-md-6 illustrate breaches">

            </div>
        </div>

    </div>
    <!-- /.container -->