<section id="researchers" class="anchor">

    <div class="container-fluid px-5 py-5 researcher" id="researchers">
        <div class="row">
            <div class="rapwhite order-md-2 col-md-6 text-center p-0 my-auto">
                <img src="img/researcher-icon.svg" width="35%">
            </div>
            <div class="col-md-6 order-md-1 my-auto">
                <h1>Become a Badrap Security Researcher</h1>
                <p>Do you scan the net and have tons of issues, but no good way to reach
                    the victims? Do you monitor the dark corners of the Internet,
                    and discover stolen data? Join to the Badrap security researcher
                    community. Get a profile page and share the data you have. Offer
                    your feeds for free or work only for bounties. Serve individuals
                    and enterprises. Sign up and start building your reputation today.
                </p>
                <a href="/researchers">
                    <button type="button" class="btn btn-rap">Read more</button>
                </a>
            </div>

        </div>
    </div>
</section>
