<section id="individuals" class="anchor">

    <div class="container-fluid px-5 py-5 companies ">
        <div class="row space">
            <div class="col-lg-7 col-md-12 order-lg-1 order-md-2  text-center p-5 my-auto">
                <img src="img/badrapshot.jpg" width="90%">
            </div>
            <div class="col-lg-5 col-md-12 order-lg-2 order-md-1 my-auto">
                <h1>Badrap for Individuals</h1>
                <p>
                    Help yourself and others by visiting
                    <a href="https://badrap.io/" id="go-to-badrap-io">badrap.io</a>
                    from networks
                    at home, school, work and relatives. Learn if the network
                    has
                    vulnerabilities or malicious programs attacking others. If
                    you find something from
                    someone else's network, ask them to visit badrap.io to see
                    the warning and instructions
                    to fix the instructions on how to
                    solve the problem. <a href="https://badrap.io/register/">
                        Register an account</a> to get email-warnings.
                </p>
                <a href="https://badrap.io/" id="go-to-badrap-io">
                    <button type="button" class="btn btn-rap">Search your data
                        »</button>
                </a>
            </div>

        </div>
    </div>
</section>
