<section id="companies" class="anchor">

    <div class="container-fluid px-5 py-5 companies ">
        <div class="row space">
            <div class="order-md-1 order-sd-1 col-md-6 text-center p-0 my-auto">
                <img src="img/companies-icon.svg" class="icon">
            </div>
            <div class="col-md-6 order-md-2 order-sd-2 my-auto">
                <h1>Protect your most valuable assets!</h1>
                <p>You protect your employees, your customers and your intellectual property inside
                   your perimeter. But your assets are not inside your perimeter anymore. Services
                   are in the cloud, employees work from home and travel, customer data is handled
                   by your partners. Adapt to change with us.
                </p>
                <a href="/companies" id="go-to-companies-read-more">
                    <button type="button" class="btn btn-rap">Protect your assets</button>
                </a>
            </div>

        </div>
    </div>
</section>
