<section id="individuals" class="anchor">

    <div class="container-fluid headerbanner researcher">
        <div class="row">
            <div class="col-md-5 text-center py-5 my-auto">
                <h1>Individuals</h1>
                <i class="fas fa-3x fa-heart tag-white"></i>
                <h2>the security and privacy of their close ones</h2>
            </div>
        </div>
    </div>

    <div class="container">

        <div class="row space lightbg">
            <div class="col-md-6 my-auto">
                <h3>Security Researchers Can Warn You via Badrap</h3>
                <p>When security researchers scan the net, they find tons of issues.
                    Vulnerable home routers, webcams with default passwords, and
                    so forth. But they usually can't tell the owners of the vulnerable
                    devices, so they can't warn you. They upload their findings to
                    Badrap to let you check if your IP-addresses were on their list.
                    If that is the case, you will get instructions on how to remedy
                    the situation. You don't need to sign up to our service - but
                    if you do, Badrap can warn you about new findings via email.
                </p>
            </div>

            <div class="col-md-5 illustrate vulnpic-individuals"></div>

        </div>



        <div class="row space darker lightbg">
            <div class="col-md-5 illustrate breaches-individuals order-md-1 order-sm-2"></div>
            <div class="col-md-1 order-md-2"></div>

            <div class="col-md-6 my-auto order-md-3 order-sm-1">
                <h3>Has my data leaked?</h3>
                <p> Bad guys hack Internet-services to steal private information. Emails,
                    passwords, credit card numbers and so on. In Europe, they are
                    compelled by regulation to notify your personal information has
                    leaked. In U.S, companies get gigantic fines and end up doing
                    settlements when they don't act diligently in the data breaches.
                    We help companies to notify you when they must. We provide them
                    the means to help you to understand what happened.
                </p>
            </div>
        </div>
        <div class="row space lightbg">
            <div class="col-md-12">

                <h3>Netizen features</h3>
     
           
            <table class="table table-hover table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Feature</th>
                        <th scope="col">Unregistered</th>
                        <th scope="col">Registered</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">Check currently used IP-address</th>
                        <td>
                            <span>&#10003;</span>
                        </td>
                        <td>
                            <span>&#10003;</span>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Check your email addresses</th>
                        <td>
                            <span>&#8722;</span>
                        </td>
                        <td>
                            <span>&#10003;</span>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Help-yourself pointers and instructions if a security issue
                            is found
                        </th>
                        <td>
                            <span>&#10003;</span>
                        </td>
                        <td>
                            <span>&#10003;</span>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Manage your watchlist (IPs and email-addresses)</th>
                        <td>
                            <span>&#8722;</span>
                        </td>
                        <td>
                            <span>&#10003;</span>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Email-alerts for registered network identities</th>
                        <td>
                            <span>&#8722;</span>
                        </td>
                        <td>
                            <span>&#10003;</span>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Netizen price</th>
                        <td> Free </td>
                        <td> Free </td>
                    </tr>
                </tbody>
            </table>
            </div>
        </div>
    </div>

</section>