<div class="container">
    <div class="row">
        <div class="col-md-6 illustrate breaches"></div>
            <div class="col-md-6 text-center py-5">
                <h2>Has my data leaked?</h2>
                <p> Bad guys hack Internet-services to steal private information. 
                    Emails, passwords, credit card numbers and so on. In Europe, they
                    are compelled by regulation to notify your personal information has leaked.
                    In U.S, companies get gigantic fines and end up doing settlements when they 
                    don't act diligently in the data breaches. We help enterprises to notify you
                    when they must. We provide them the means to help you to understand what happened.
                </p>
            </div>  
        </div>
    </div>
</div>