{% assign settings = site.data.site %}

    <!-- jquery -->
    <script src="/vendor/jquery/jquery-3.4.1.min.js"></script>
    <script src="{{settings.mombo}}/static/js/jquery-migrate-3.0.0.min.js"></script>
    <!-- end jquery -->
    <!-- appear -->
    <script src="{{settings.mombo}}/static/plugin/appear/jquery.appear.js"></script>
    <!-- end appear -->
    <!--bootstrap-->
    <script src="{{settings.mombo}}/static/plugin/bootstrap/js/popper.min.js"></script>
    <script src="{{settings.mombo}}/static/plugin/bootstrap/js/bootstrap.js"></script>
    <!--end bootstrap-->
    <!-- End -->
    <!-- custom js -->
    <script src="{{settings.mombo}}/static/js/custom.js"></script>
    <!-- end -->
</body>
<!-- end body -->

</html>
