
<body data-spy="scroll" data-target="#navbar-collapse-toggle" data-offset="98">
    <!-- Preload -->
    <div id="loading">
        <div class="load-circle"><span class="one"></span></div>
    </div>
    <!-- End Preload -->

    <!-- Header -->
    <header class="header-nav header-dark header-white">
        <div class="fixed-header-bar">
            <div class="container container-large">
                <div class="navbar navbar-default navbar-expand-lg main-navbar">
                    <div class="navbar-brand">
                        <a href="/index.html" title="Mombo" class="logo">
                            <img src="/img/badrap-horizontal-logo-white.svg" height="30px" class="light-logo"
                                alt="Badrap" title="Badrap Oy">
                            <img src="/img/badrap-horizontal-logo.svg" height="30px" class="dark-logo" alt="Badrap"
                                title="Badrap Oy">
                        </a>
                    </div>
                    <div class="navbar-collapse justify-content-end" id="navbar-collapse-toggle">
                        <ul class="nav navbar-nav m-auto">
                       
                            <li><a class="nav-link" href="/#assets">Discover assets</a>
                            <li><a class="nav-link" href="/#content">Get relevant security content</a></li>
                            <li><a class="nav-link" href="/#fixes">Fix with playbooks</a></li>
                            <li><a class="nav-link" href="/#team">About us</a></li>
                            <li><a class="nav-link" href="/#contact">Contact</a></li>

                            <li><a class="nav-link" href="https://badrap.io" target="_blank">&#x21D7; badrap.io</a></li>

                        </ul>
                    </div>
                    <div class="extra-menu d-flex align-items-center">
                        <button type="button" class="navbar-toggler collapsed" data-toggle="collapse"
                            data-target="#navbar-collapse-toggle" aria-expanded="false">
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Header End -->
