<div class="container-fluid col-sm-12  companypic">
    <div class="row">
        <div class="gobanner col-md-6 text-center py-5 my-auto ">
            <h4 class="go">Be prepared for a data breach. Comply with
                <strong>GDPR&nbsp;72h</strong>
                </strong> breach notification rules.</h4>
            <h1 class="go">Ready</h1>
            <hr class="go">
            <h1 class="go">Get Set</h1>
            <hr class="go">
            <h1 class="go">Go!</h1>
        </div>
    </div>
</div>



<div class="container py-5" id="localized">
    <div class="row lightbg">
        <div class="col-md-6 align-centre">
            <img src="img/gdpr72-logo.svg">
            <h3>Are you responsible of the privacy of your customers and employees? </h3>

            <p>The bad news is that with the new 72h breach notification rules in GDPR
                require you need to get on top of the incident fast. The good news
                is, that being smart about it, you get competitive edge and opportunity
                to save huge losses that come in the form of customer churn, as well
                as penalties and damages.</p>
            <p>
                We have the tech and a battle-hardened network of security pros, legal experts and
                crisis communicators to make sure you will ace the GDPR's 72h notificaiton
                responsibility.
            </p>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-5">
            <h3>Ready</h3>
            <p>A good runner knows that the results are made before the race. Get ready
                by our hands-on training, covering legal, crisis communication and
                technical aspects of a data breach. Get a playbook to help you during
                those 72h.
            </p>

            <h3>Get set</h3>
            <p>Stay in great shape with us and be able to show it. Get a head start
                by monitoring data leaks proactively and act before they escalate.
                Show to your customers you care about their privacy. Be always ready
                to show your due diligence for regulators and business partners.
            </p>

            <h3>Go!</h3>
            <p>
                As breaches get more frequent and public, companies are judged by how they handle
                the aftermath. The time may come when it is your turn run the 72h
                hurdles. Win your audience's hearts back. Act fast, diligently and
                take care of your customers.
            </p>

        </div>
    </div>
</div>

<div class="container-fluid col-sm-12 headerbanner placeholderpic">
    <div class="row">
        <div class="col-md-6 text-center py-5 my-auto">
            <h1 class="go">Ready</h1>
        </div>
    </div>

</div>

<div class="container-fluid rapwhite">
    <div class="row my-0 py-5 justify-content-center">
        <div class="col-md-4 mx-auto text-center rapborder">
            <p class="tag">Legal experts</p>
            <i class="fas fa-balance-scale fa-5x py-3"></i>
            <br>
            <i class="fas fa-heart fa-2x tag-2"></i>
            <br>
            <p class="tag">to keep you due diligent</p>
        </div>
        <div class="col-md-4 col-sm-6 mx-auto text-center rapborder">
            <p class="tag">Crisis Communication Experts</p>
            <i class="far fa-comments fa-5x py-3"></i>
            <br>
            <i class="fas fa-heart fa-2x tag-2"></i>
            <br>
            <p class="tag">to manage your reputation risk</p>
        </div>
        <div class="col-md-4 col-sm-6 mx-auto text-center">
            <p class="tag">Technical Coordinator</p>
            <i class="fas fa-user-edit fa-5x py-3"></i>
            <br>
            <i class="fas fa-heart fa-2x tag-2"></i>
            <br>
            <p class="tag">to track and facilitate expert collaboration</p>
        </div>
    </div>
</div>
<div class="container rapwhite">
    <div class="row my-0 py-5 justify-content-center">
        <div class="col-md-12 col-sm-6 mx-auto text-center">
            <h4>Fire with all cylinders</h4>
            <p> Efficient collaboration is cruial in order to comply with the 72-hour
                notification rule. Learn the collaborative workflows everyone (incident
                responders, legal experts, chrisis communicators and you) should
                follow during a suspected data breach.
            </p>
        </div>
        <div class="col-md-6 col-sm-6 mx-auto text-center">
            <h4>Legal Training</h4>

            <p>GDPR brought new set of rules and 72 hour time limit for reporting. Know
                what kind of decisions are needed in those crucial hours, and know
                what data you need to make
            </p>
        </div>
        <div class="col-md-6 col-sm-6 mx-auto text-center">
            <h4>Chrisis Communication Training</h4>
            <p>Data breach will hurt. But the question is how much. Companies can save
                huge amounts by dealing with the data breach diligently. </p>
        </div>
    </div>
</div>

<div class="container-fluid col-sm-12 headerbanner placeholderpic">
    <div class="row">
        <div class="col-md-6 text-center py-5 my-auto">
            <h1 class="go">Get Set</h1>
        </div>
    </div>
</div>

<div class="container-fluid rapwhite">
    <div class="row my-0 py-5 justify-content-center">
        <div class="col-md-4 mx-auto text-center rapborder">
            <p class="tag">Data Breach Monitoring</p>
            <i class="fas fa-eye fa-5x py-3"></i>
            <br>
            <i class="fas fa-heart fa-2x"></i>
            <br>
            <p class="tag">Get early warnings and act before the incident escalates</p>
        </div>

        <div class="col-md-4 col-sm-6 mx-auto text-center rapborder">
            <p class="tag">Company status page</p>
            <i class="far fa-thumbs-up fa-5x py-3"></i>
            <br>
            <i class="fas fa-heart fa-2x"></i>
            <br>
            <p class="tag">Know and show off your due diligence</p>
        </div>

        <div class="col-md-4 col-sm-6 mx-auto text-center">
            <p class="tag ">Ready to go</p>
            <i class="fas fa-user-edit fa-5x py-3"></i>
            <br>
            <i class="fas fa-heart fa-2x"></i>
            <br>
            <p class="tag">Technology and experts ready to have your back</p>
        </div>
    </div>
</div>

<div class="container rapwhite">
    <div class="row my-0 py-5 justify-content-center">
        <div class="col-md-12 col-sm-6 mx-auto text-center">
            <h4>Always Up and Running</h4>
            <p> In our previous lives we audited a number of systems designed to be used during chrisis. 
                The problem is that if you only use them during the crisis, they won't work when you need 
                them. Also maintaining readiness is daunting and expensive. But not to worry. We are focused 
                on keeping our systems up and running and our experts on their toes.
            </p>
        </div>
        <div class="col-md-6 col-sm-6 mx-auto text-center">
            <h4>Data Breach Monitoring</h4>
            <p>If a breach happens, you want to be the first to hear about it. List your Internet-assets on our 
                service (domains, emails, ... ) and get an early warning when our security researcher's data 
                breach service sounds an alarm. Be able to react quick and mitigate.
            </p>
        </div>
        <div class="col-md-6 col-sm-6 mx-auto text-center">
            <h4>Know your status</h4>
            <p>Your good work deserves recognition. When was the last time your data breach playbook and relevant contacts were updated? How many
                suspected data breaches you had this year? How many actual incidents? 
                How many individuals you notified? How much positive feedback you got? 
                Be always up to date and be able share relevant parts to your regulators and partners.
            </p>
        </div>
    </div>
</div>

<div class="container-fluid col-sm-12 headerbanner placeholderpic">
    <div class="row">
        <div class="col-md-6 text-center py-5 my-auto">
            <h1 class="go">Go!</h1>
        </div>
    </div>
</div>

<div class="container-fluid rapwhite">
    <div class="row my-0 py-5 justify-content-center">
        <div class="col-md-4 mx-auto text-center rapborder">
            <p class="tag">Secure Expert Collaboration</p>

            <i class="fas fa-user-edit fa-5x py-3"></i>

            <p class="tag">Cross-trained experts collaborating efficiently</p>

        </div>

        <div class="col-md-4 col-sm-6 mx-auto text-center rapborder">
            <p class="tag">Company status page</p>
            <i class="far fa-thumbs-up fa-5x py-3"></i>
            <p class="tag">Always know your compliance status</p>
        </div>

        <div class="col-md-4 col-sm-6 mx-auto text-center">
            <p class="tag">Privacy Monitoring</p>
            <i class="fas fa-heart fa-5x py-3"></i>

            <p class="tag">Sponsor privacy monitoring for the victims</p>
        </div>
    </div>
</div>

<div class="container rapwhite">
    <div class="row my-0 py-5 justify-content-center">
        <div class="col-md-12 col-sm-6 mx-auto text-center">
            <h4>Fire with all cylinders</h4>
            <p> Efficient collaboration is crucial in order to comply with the 72-hour
                notification rule. Learn the collaborative workflows everyone (incident
                responders, legal experts, chrisis communicators and you) should
                follow during a suspected data breach.
            </p>
        </div>
        <div class="col-md-6 col-sm-6 mx-auto text-center">
            <h4>Legal Training</h4>

            <p>GDPR brought new set of rules and 72 hour time limit for reporting. Know
                what kind of decisions are needed in those crucial hours, and know
                what data you need to make
            </p>
        </div>
        <div class="col-md-6 col-sm-6 mx-auto text-center">
            <h4>Chrisis Communication Training</h4>
            <p>Data breach will hurt. But the question is how much. Companies can save
                huge amounts by dealing with the data breach diligently. </p>
        </div>
    </div>
</div>

<div class="container-fluid col-sm-12 headerbanner placeholderpic">
        <div class="row">
            <div class="col-md-6 text-center py-5 my-auto">
                <h1 class="go">Let's do this!</h1>
            </div>
        </div>
    </div>

<div class="container">
    <div class="row lightbg py-5">
        <div class="col-md-12">
            <p>Ready to get in shape? Pick how far you want to go with us! 
            </p>

            <table class="table table-hover table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Feature</th>
                        <th scope="col">Ready</th>
                        <th scope="col">Get Set</th>
                        <th scope="col">Go!</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">Legal training</th>
                        <td>
                            <span>&#10003;</span>
                        </td>
                        <td>
                        </td>
                        <td>
                        </td>
                    </tr>

                    <tr>
                        <th scope="row">Chrisis communication training</th>
                        <td>
                            <span>&#10003;</span>
                        </td>
                        <td>
                        </td>
                        <td>
                        </td>
                    </tr>

                    <tr>
                        <th scope="row">Coordination and collaboration training</th>
                        <td>
                            <span>&#10003;</span>
                        </td>
                        <td>
                        </td>
                        <td>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Data breach playbook</th>
                        <td>
                            <span>&#10003;</span>
                        </td>
                        <td>
                        </td>
                        <td>
                        </td>
                    </tr>

                    <tr>
                        <th scope="row">Experts on stadnby
                        </th>
                        <td></td>
                        <td>
                            <span>&#10003;</span>
                        </td>
                        <td>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Reduntant notification service with continuous testing
                        </th>
                        <td></td>
                        <td>
                            <span>&#10003;</span>
                        </td>
                        <td>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Data breach monitoring</th>
                        <td>
                        </td>
                        <td>
                            <span>&#10003;</span>
                        </td>
                        <td>
                            <span>&#10003;</span>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Company Status Page</th>
                        <td> </td>
                        <td>
                            <span>&#10003;</span>
                        </td>
                        <td>
                            <span>&#10003;</span>
                        </td>
                    </tr>

                    <tr>
                        <th scope="row">A hotline number to call in a case of emergency</th>
                        <td></td>
                        <td>
                            <span>&#10003;</span>
                        </td>
                        <td>
                            <span>&#10003;</span>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Privacy monitoring</th>
                        <td> </td>
                        <td>
                        </td>
                        <td>
                            <span>&#10003;</span>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Prices</th>
                        <td>
                            <span>10000€</span>
                        </td>
                        <td>
                            <span>1000€-10000€/m</span>
                        </td>
                        <td>
                            <span>10000€-100000€/case</span>
                        </td>

                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>