<section>
    <h2>{{slide.title}} </h2>
    <h3>{{slide.subtitle}}</h3>
    <div class="container">
        <div class="column">
            <p>{{slide.text}}</p>  
        </div>

        <!-- css file takes precedence, can't set default background-size there. So we set it below. -->

        <div class="background-image" style="background-image: url({{slide.img.src}});
        background-position: {{slide.img.position}};

        {% if slide.img.background-size %}
            background-size: {{slide.img.background-size}}
        {% else %}
            background-size: cover;
        {% endif %}

        ">

        </div>
    </div>
</section>
