
    </div>
</div>  

<script src="reveal.js/lib/js/head.min.js"></script>
<script src="reveal.js/js/reveal.js"></script>

<script>
    // More info about config & dependencies:
    // - https://github.com/hakimel/reveal.js#configuration
    // - https://github.com/hakimel/reveal.js#dependencies
    Reveal.initialize({
        controlsTutorial: true,
        controlsLayout: 'edges',
        progress: true,	
        history: true,
        width: {{page.width | default: 900 }},
        height: {{page.height | default: 700 }},


        dependencies: [
            { src: 'reveal.js/plugin/notes/notes.js', async: true }
        ]
    });
</script>
</body>
</html>
