

<section {{slide.section-parameters}}>
<div class="{{slide.box.class}}" style="width: {{slide.box.width}}; float: {{slide.box.float}}">

    {% if slide.title.text %}
    <h2 class="{{slide.title.class}}">{{slide.title.text}} </h2>
    {% endif %}

    {% if slide.icon.src %}
    <img src="{{slide.icon.src}}" class="{{slide.icon.class}}">
    {% endif %}

    {% if slide.subtitle.text %}
    <h3 class="{{slide.subtitle.class}}">{{slide.subtitle.text}}</h3>
    {% endif %}

    {% if slide.text %}
    <p class="{{slide.text.class}}">{{slide.text.text}}</p>
    {% endif %}

    {% if slide.bullets %}
    <ul>
      {% for bullet in slide.bullets.list %}
      <li> {{bullet}} </li>
      {% endfor %}
    </ul>
    {% endif %}

    {% if slide.img.src %}
    <img src="{{slide.img.src}}" class="{{slide.img.class}}" width="{{slide.img.width}}" alt="{{slide.img.alt}}">
    {% endif %}

    {% for button in slide.buttons %}
    <a href="{{button.link}}" class="button">

      {{button.text}}
    </a>

    {% endfor %}
</div>

</section>
