<section>
    <h2>{{slide.title.text}} </h2>
    <h3>{{slide.subtitle.text}}</h3>
    <div class="container half">
        <div class="column">
            {% if slide.img1.link %}
            <a href="{{slide.img1.link}}" target="_blank">
            {% endif %}

            <img src="{{slide.img1.src}}" class="{{slide.img2.class}}">
            {% if slide.img1.link %}
            </a>
            {% endif %}

            <p class="caption">{{slide.img1.caption}}</p>
        </div>
        <div class="column">
                {% if slide.img2.link %}
                <a href="{{slide.img2.link}}" target="_blank">
                {% endif %}

                <img src="{{slide.img2.src}}" class="{{slide.img2.class}}">
                {% if slide.img2.link %}
                </a>
                {% endif %}

                <p class="caption">{{slide.img2.caption}}</p>
        </div>
    </div>
</section>
