<section {{slide.section-parameters}}>
    <h2 class="{{slide.title.class}}">{{slide.title.text}} </h2>
    <h3 class="{{slide.subtitle.class}}">{{slide.subtitle.text}}</h3>

    <div class="container {{slide.container.class}}">

        <div class="column">
            {% if slide.icon.src %}
            <img src="{{slide.icon.src}}" class="{{slide.icon.class}}">
            {% endif %}

            {% if slide.text.text %}
            <p class="{{slide.text.class}}">{{slide.text.text}}</p>
            {% endif %}

            {% if slide.bullets %}
            <ul>
              {% for bullet in slide.bullets.list %}
              <li> {{bullet}} </li>
              {% endfor %}
            </ul>
            {% endif %}

        </div>

        <div class="column">

        <img src="{{slide.img.src}}" style="max-height: 500px" class="{{slide.img.class}}">
        </div>
    </div>
</section>
