#form {
    min-width: 100%;
    max-width: 100%;
}

body {
    position: relative;
}

.planning {
    min-height: 60vh;
    background-image: url('planning.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 30% 40%;
}

.home {
    min-height: 60vh;
    background-image: url('home.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 30% 50%;
}

.parallax {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.companies {
    min-height: 75vh;
    background-image: url('companies.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 30% 40%;
}

.connects-companies {
    background-image: url('badrap-companies-employees.svg');
    margin-top: auto;
    margin-bottom: auto;
}
.sporty {
    font-style: italic;
    text-shadow: 1px 2px 3px #222;

}

h1.headline {
    font-weight: 400;
    font-size: 40pt;
    text-transform: none;
    text-transform: uppercase !important;
}

h1.white {
    color: #fff;
}

h4.white {
    color: #fff;
}
h1.sporty {
    font-weight: 700;
    font-size: 50pt;
    text-align: center;
    text-transform: none;
    font-family: sans-serif;
}
a.social {
    text-decoration: none;
}
hr {
    margin-top: 0;
    margin-bottom: 0;
    width: 40px;
    height: 0px;
    border-bottom: 4px solid #fff;
}
h2.sporty {
    font-size: 20pt;
}

h3.sporty  {
    font-size: 15pt !important;
    padding-top: 0;
}

h4.sporty {
    color: #fff;
    font-size: 15pt;
}
.researcher h1 {
    font-size: 50pt !important;
    font-weight: 600;
}

.illustrate img {
    max-width: 400px;
    vertical-align: middle;

}

h1 {
    justify-items: center;
}

.large {
    font-size: 25px;
}

.rapdark blockquote {
    color: #f6f6f6;
}

.rapdark a {
    color: #f6f6f6;
}

@media(max-width:992px) {
    .rapborder {
        border-right-style: none;
    }
}
@media(max-width:767px) {
    li {
        padding-left: 20px;
    }
    img {
        width: 50%;
    }
}

.face {
    max-width: 150px;
}

blockquote {
    color: #666666;
}


@media(max-width:576px) {
    .researcher h1 {
        font-size: 30pt !important;
        font-weight: 600;
    }
}
