---
layout: page
title: Cyber Hygiene for Employees
ogdescription: Protect the Employees, Protect the Business
twittercard: summary_large_image
twitter: "@BadRapIO"
styles:
  - /vendor/agency/css/agency.min.css
  - /css/badrap.css
  - companies.css
  - employees.css
headline: Cyber Hygiene for Employees
tagline: Protect the Employees, Protect the Business
what:
    heading: What is Cyber Hygiene for Employees
    description: >

founderquote:
    image: jani-face-round.png
    name: Jani, CEO
    blurp: >
        There are plenty of
        security solutions to protect your perimeter and your IT-systems. But
        who takes care of the employees? Modern attacks to companies go through them. We
        created Cyber Hygiene for Employees to keep your workforce safe in their free
        time. When they stay safe, you stay safe.

benefits:
    - benefit: Avoid Data Breaches
      tagline: by protecting employee's identities
      icon: <i class="fas fa-database fa-5x"></i>
      morelink: ./employees#databreaches
      long: >
        81% of confirmed data breaches involved leveraging weak or stolen
        passwords, says Spycloud. And no wonder, 27% of users recycle
        passwords, according to HPI. When your employees information leak, your
        risk increases. Let Badrap security researchers
        warn your employees when their information leaks.

    - benefit: Win hearts and minds
      icon: <i class="far fa-comments fa-5x"></i>
      tagline: You care about security and your employees. Let it show!
      morelink: ./employees#pr
      long: >
        Employees stay longer when they feel appreciated. Future employees
        are more inclined to work with you when they know how much you care about them.
        Customers appreciate your efforts to keep their data safe.
    - benefit: Beyond perimeter protection
      tagline: Shifting focus to Users & Devices
      icon: <i class="fas fa-home fa-5x"></i>
      morelink: ./employees#perimeter
      long: >
        Security industry focuses on protecting the perimeter. We have
        almost missed the fact that the employees can get compromised in
        their free time. Their identities and personal information leak
        from third party services.

    - benefit: Occupational Cyber Health
      tagline: We'll be the doctor. You focus on your business.
      icon: <i class="fas fa-briefcase-medical fa-5x"></i>
      morelink: ./employees#privacy
      long: >
            Badrap started off with helping individuals. That is why we
            can provide personal service online, similar to the occupational health.
            And that is why your employees can start protecting all their
            assets withouth worrying their employer is watching over.

how:
    heading: How Does it Work?

features:
    - feature: We inform
      icon: <img src="inform.svg" class="featureicon">
      tagline: Introduction email to your employees
      long: >
        We tell together about badrap.io to your employees.
        We explain that you have sponsored a badrap.io cyber hygiene
        campaign for them. The campaign lasts for a month, and
        there is a reward at the end.
      longicon: <i class="fas fa-3x fa-envelope"></i>
      longid: inform

    - feature: Employees hunt
      icon: <img src="use.svg" class="featureicon">
      tagline: They use badrap.io in networks they care about
      long: >
        Employees use badrap.io to receive security researcher warnings at
        home and other places they care about. They also list their
        email-addresses to get warnings when third parties leak their
        personal information.
      longicon: <i class="fab fa-3x fa-chrome"></i>
      longid: hunt

    - feature: Learn and act
      icon: <img src="help.svg" class="featureicon">
      tagline: Badrap helps if they find security issues
      long: >
        If an employee finds an issue, Badrap explains it in human-friendly
        terms and tells how to solve the issue. If the instructions are not
        enough, Badrap team supports your employees via mail or phone.
      longicon: <i class="fas fa-3x fa-headset"></i>
      longid: discover

    - feature: The Reward
      icon: <img src="reward.svg" class="featureicon">
      tagline: The most active employee gets a reward
      long: >
        At the end of the campaign, we'll reward the most active employee. In practice,
        the employee who has
        checked the most places receives F-Secure Sense or Google Wifi mesh router.
        The employees can keep using the
        free badrap.io service after the campaign as a regular user.
      longicon: <i class="fas fa-3x fa-award"></i>
      longid: reward

whyus:
  heading: Why work with us?
  description: >
    Badrap was founded by security veterans, who have served countries, and critical
    infrastructure organisations for ages. We have witnessed how the Finnish approach
    of collecting and sharing security information with those in danger have helped
    organisations and individuals to stay safe. We've
    seen how other countries adapt to that model. Now we want to make security information
    accessible to everyone, including you and your employees.


packages:
  heading: Campaign Packages
  prices:
    - title: Small
      price: 3 400€
      features:
        - One month active campaing for up to 1000 employees
        - Introduction email template
        - badrap.io service, including textual instructions if issues are found
        - Automatic email warnings for newly found issues
        - Reward for the most active employee

    - title: Medium
      price: 6 900€
      features:
        - One month active campaign for up to 2000 employees
        - Introduction email template
        - badrap.io service, including textual instructions if issues are found
        - Automatic email warnings for newly found issues
        - Reward for the most active employee
        - <strong>Badrap mail & phone support for employees</strong>

    - title: Large
      price: 17 500€
      features:
        - <strong>Two</strong> months active campaign for up to 3000 employees
        - Introduction email template
        - badrap.io service, including textual instructions if issues are found
        - Automatic email warnings for newly found issues
        - Reward for the most active employee
        - <strong>Badrap mail & phone support for employees</strong>
        - <strong>Dark net data breach check with Fitsec Asset Tracker</strong>

moreinfo:
    heading: Want to talk more?
    how: >
      You can contact us via email (contact@badrap.io) or leave your contact info to our
      <a href="https://share.hsforms.com/1YYCtOd6TRR-94J91OfG_zw2ecmj"> contact form</a>,
      and we'll be in touch promptly!
    contactform: https://share.hsforms.com/1YYCtOd6TRR-94J91OfG_zw2ecmj
    formscreenshot: form-shot.jpg


---
<div class="container-fluid home">
    <div clas="row">
        <div class="column col-12 text-center my-auto">
            <h1 class="heading pt-5 pb-0 my-0 mx-auto">{{page.headline}}</h1>
            <h2 class="tagline pt-0 my-0"><em>{{page.tagline}}</em></h2>
        </div>
    </div>
</div>

<div class="container-fluid px-0" id="benefits">

        <div class="row my-0 mx-0 rapdark justify-content-center">

            {% for benefit in page.benefits %}

            <div class="col-lg-3 col-md-6 col-sm-12 mx-auto rapborder text-center justify-content-center">
                <div class="featurediv mx-2  mx-auto">
                    <p class="tag mt-4"> {{benefit.benefit}} </p>
                    {{benefit.icon}}
                    <p class="thin">{{benefit.tagline}}</p>
                    <a href="{{benefits.morelink}}" id="benefits-read-more">
                        <button type="button" class="btn btn-rap">Read more</button>
                    </a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

</div>
<!-- Quote -->

<div class="container-fluid rapgray" id="founderquote">
        <div class="row py-5 justify-content-center">
            <div class="column col-md-4 text-center">
                <img src="{{page.founderquote.image}}" class="face mx-auto d-block">
                <p> {{page.founderquote.name}}</p>
            </div>
            <div class="column col-md-8 my-auto text-center">
                <quote class="blockquote">
                    {{page.founderquote.blurp}}
                </quote>
            </div>
        </div>
    </div>

<!-- More about the benefits -->

<div class="container px-0" id="morebenefits">
    {% for benefit in page.benefits %}

        {% assign loopindex = forloop.index | modulo: 2 %}
        {% if loopindex == 1 %}
            {% assign picorder = "order-sm-1" %}
            {% assign textorder = "order-sm-2" %}
        {% else %}
            {% assign picorder = "order-sm-2" %}
            {% assign textorder = "order-sm-1" %}
        {% endif %}

    <div class="row my-5 mx-5 justify-content-center">
        <div class="col-md-6 col-sm-12 mx-auto text-center
        justify-content-center {{textorder}}">
            <h2> {{benefit.benefit}} </h2>
            <p>{{benefit.long}}</p>
        </div>
        <div class="col-md-6 col-sm-12 mx-auto my-auto text-center
        justify-content-center {{picorder}}">
                {{benefit.icon}}
        </div>
    </div>
    {% endfor %}

</div>


<div class="container-fluid px-0" id="featurebanner">
    <div class="row justify-content-center text-center">
        <h1 class="py-5">{{page.how.heading}}</h1>
    </div>
    <div class="row my-0 mx-0 rapdark justify-content-center">

        {% for feature in page.features %}

        <div class="col-lg-3 col-sm-6 col-12 mx-auto rapborder text-center justify-content-center">
            <div class="featurediv mx-2  mx-auto">
                    <p class="tag mt-4"> {{feature.feature}} </p>
                {{feature.icon}}
                <p class="thin">{{feature.tagline}}</p>
            </div>
        </div>
        {% endfor %}

    </div>
</div>

<div class="container px-0 pt-5" id="howitworks">

    {% for long in page.features %}
    {% assign loopindex = forloop.index | modulo: 2 %}
    {% if loopindex == 1 %}
        {% assign picposition = "order-sm-1" %}
        {% assign titlealign = "mx-auto" %}
        {% assign offset = "offset-sm-0" %}

        {% else %}
        {% assign picposition = "order-sm-3" %}
        {% assign titlealign = "text-right" %}
        {% assign offset = "offset-sm-1" %}


    {% endif %}

    <div class="row headline" id="{{point.id}}" >
        <div class="column index col-lg-1 col-sm-2 col-12 {{picposition}}">
            <h1>{{forloop.index}}</h1>
        </div>
        <div class="column {{offset}} col-lg-10 col-sm-9 col-12 order-sm-2 my-auto">
           <h1 class="point my-3 {{titlealign}}"> {{long.feature}} </h1>
        </div>
    </div>
    <div class="row description mx-0">
        <div class="column icon col-lg-1 col-sm-2 col-12 {{picposition}}">
            {{long.longicon}}
        </div>
        <div class="column {{offset}} col-lg-10 col-sm-9 col-12 order-sm-2">
                <p class="my-3 {{titlealign}}">{{long.long}}</p>
        </div>
    </div>
    {% endfor %}
</div>

<div class="container-fluid planning parallax rapdark px-0 pb-0 pt-5">
    <div class="row">
        <div class="column col-8 offset-2">
            <h1 class="white">{{page.whyus.heading}}</h1>

        </div>
        <div class="column col-8 offset-2">
            <p class="white">{{page.whyus.description}}</p>

        </div>

    </div>

</div>


<div class="container-fluid rapgray">
    <div class="row mb-3 justify-content-center text-center">
        <h1 class="display-4">{{page.packages.heading}}</h1><br>
    </div>
    <div class="row justify-content-center text-center">
        <div class="column col-6 col-sm-4 col-md-3 col-lg-2">
            <a href="https://share.hsforms.com/11bom_nMgRBWoa6yhdsRoiA2ecmj"
               class="btn btn-primary mx-0">Order »
            </a>
        </div>
    </div>
    <div class="row mb-1 justify-content-center text-center">


        {% for package in page.packages.prices %}

        <div class="mycard col-12 col-lg-3 mb-4 shadow-sm">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">{{package.title}}</h4>
            </div>
            <div class="card-body">
                <h1 class="card-title pricing-card-title">{{package.price}}
                </h1>
                <ul class="list-unstyled mt-3 mb-0">
                    {% for feature in package.features %}
                    <li class="py-2">{{ feature }} </li>
                    {% endfor %}

                </ul>
            </div>

        </div>

        {% endfor %}
    </div>

    <div class="row justify-content-center text-center">
        <div class="column col-6 col-sm-4 col-md-3 col-lg-2">
            <a href="https://share.hsforms.com/11bom_nMgRBWoa6yhdsRoiA2ecmj" class="btn btn-primary mx-0">Order
                »
            </a>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row py-5 justify-content-center text-center">
        <div class="column col-12 col-xl-6">
            <h1> {{page.moreinfo.heading}} </h1>
            <p> {{page.moreinfo.how}}
            </p>
        </div>
    </div>
</div>


