---
layout: page
title: Badrap for Companies
ogdescription: Badrap relays security researchers' warnings for you.
twittercard: summary_large_image
twitter: "@BadRapIO"
styles:
  - /vendor/agency/css/agency.min.css
  - /css/badrap.css
  - companies.css
  - employees.css
product: Cyber Hygiene for Employees
tagline: Protect the Employees, Protect the Company
points:
  - title: Introduction Mail
    text: >
      We tell together about badrap.io to your employees.
      We explain that you have sponsored a cyber hygiene
      campaign for your employees for a month.
    icon: <i class="fas fa-3x fa-envelope"></i>
  - title: badrap.io Web Service
    text: >
      Employees use badrap.io to hunt vulnerabilities at home,
      relatives and other places they care about. They can also
      opt-in for a data leak check. Badrap.io service takes care
      of your employees' privacy - their findings are their own.
    icon: <i class="fab fa-3x fa-chrome"></i>
  - title: Help
    text: >
      If an employee finds an issue, Badrap's provides instructions on how to solve it.
      If the instructions are not enough, Badrap team will support your employees.

    icon: <i class="fas fa-3x fa-headset"></i>
  - title: Reward
    text: >
      At the end of the campaign we'll reward the most active employee. In practice
      the employee who has
      checked the most places will receive F-Secure Sense or Google Wifi routher.

    icon: <i class="fas fa-3x fa-award"></i>
---
<div class="container-fluid home">
    <div clas="row">
        <div class="column col-12 text-center my-auto">
            <h1 class="heading pt-5 pb-0 mx-auto">{{page.product}}</h1>
            <h2 class="tagline pt-0"><em>{{page.tagline}}</em></h2>

        </div>
    </div>
</div>

<div class="container-fluid rapgray" id="signup">
        <div class="row py-5 justify-content-center">
            <div class="column col-md-9 text-center">
                <h1>What is Cyber Hygiene for Emploees</h1>
                <p>
                    Cyber Hygiene for Employees provides an excellent opportunity for you
                    to increase your employee security awareness. Your employees get to hunt
                    security issues with a browser-based badrap.io service. They check their
                    homes, relatives, schools and other places they care about. Empower your
                    employees and make the more security aware!
                </p>
            </div>
        </div>
    </div>
<div class="container px-0 pt-5" id="howitworks">
    <div class="row justify-content-center text-center">
        <h1 class="pb-5"> How it Works?</h1>
    </div>
    {% for point in page.points %}
    {% assign loopindex = forloop.index | modulo: 2 %}
    {% if loopindex == 1 %}
        {% assign picposition = "order-sm-1" %}
        {% assign titlealign = "mx-auto" %}
        {% assign offset = "offset-sm-0" %}

        {% else %}
        {% assign picposition = "order-sm-3" %}
        {% assign titlealign = "text-right" %}
        {% assign offset = "offset-sm-1" %}


    {% endif %}

    <div class="row headline" style="background-color: #fff0ff;">
        <div class="column index col-lg-1 col-sm-2 col-12 {{picposition}}">
            <h1>{{forloop.index}}</h1>
        </div>
        <div class="column {{offset}} col-lg-10 col-sm-9 col-12 order-sm-2 my-auto">
           <h1 class="point my-3 {{titlealign}}"> {{point.title}} </h1>
        </div>
    </div>
    <div class="row description mx-0">
        <div class="column icon col-lg-1 col-sm-2 col-12 {{picposition}}">
            {{point.icon}}
        </div>
        <div class="column {{offset}} col-lg-10 col-sm-9 col-12 order-sm-2">
                <p class="my-3 {{titlealign}}">{{point.text}}</p>
        </div>
    </div>
    {% endfor %}
</div>

<div class="container-fluid planning parallax rapdark px-0 pt-5">
    <div class="row">
        <div class="column col-8 offset-2">
            <h1 class="white">Why work with us?</h1>

        </div>
        <div class="column col-8 offset-2">
            <p class="white"> Badrap was founded be security veterans, who have served countries and critical
                infrastructure organisations for ages. We have witnessed how the Finnish approach
                of collecting and sharing security information with those in danger have helped
                organisations and individuals to stay safe. We've
                seen how other countries adapt that model. Now we want to make security information
                accessible to everyone, including you and your employees. </p>

        </div>
    </div>
</div>

<div class="container-fluid rapgray">
    <div class="row mb-3 justify-content-center text-center">

        <h1 class="display-4">Pilot Packages</h1>
    </div>
    <div class="row mb-3 justify-content-center text-center">

        <div class="mycard col-12 col-lg-3 mb-4 shadow-sm">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Small</h4>
            </div>
            <div class="card-body">
                <h1 class="card-title pricing-card-title">1 900€
                </h1>
                <ul class="list-unstyled mt-3 mb-0">
                    <li class="py-2">Introduction email</li>
                    <li class="py-2">badrap.io service, including textual instructions if issues are found</li>
                    <li class="py-2">Reward for the most active employee</li>

                </ul>
            </div>

        </div>
        <div class="mycard col-12 col-lg-3 mb-4 shadow-sm">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Medium</h4>
            </div>
            <div class="card-body">
                <h1 class="card-title pricing-card-title">5 900€
                </h1>
                <ul class="list-unstyled mt-3 mb-0">
                    <li class="py-2">Introduction email </li>
                    <li class="py-2">badrap.io service, including textual instructions if issues are found</li>
                    <li class="py-2"><strong>Opt-in identity leak check</strong></li>
                    <li class="py-2"><strong>Badrap personal support M</strong> <small>(1)</small></li>
                    <li class="py-2">Reward for the most active employee</li>
                </ul>

            </div>

        </div>
        <div class="mycard col-12 col-lg-3 mb-4 shadow-sm">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Large</h4>
            </div>
            <div class="card-body">
                <h1 class="card-title pricing-card-title">9 900€
                </h1>
                <ul class="list-unstyled mt-3 mb-0">
                    <li class="py-2">Introduction email</li>
                    <li class="py-2">badrap.io service, including textual instructions if issues are found</li>
                    <li class="py-2">Opt-in identity leak check</li>
                    <li class="py-2"><strong>Badrap personal support L</strong> <small>(2)</small></li>
                    <li class="py-2">Reward for the most active employee</li>
                </ul>

            </div>

        </div>
        <div class="row">
            <div class="col">
                    <p class="small py-0 my-0">(1) Personal Support M is available for organisations with less than 500 participating employees.</p>
                    <p class="small py-0 my-0">(2) Personal Support L is available for organisations with less than 1000 participating employees.</p>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row py-5 justify-content-center text-center">
        <div class="column col-12 col-xl-6">
            <h1> Want to talk more? </h1>
            <p> You can contact us via email (contact@badrap.io) or leave your contact info to our
                <a href="https://share.hsforms.com/1YYCtOd6TRR-94J91OfG_zw2ecmj"> contact form </a> and we'll be in touch
                    promptly!</a>
            </p>
        </div>
    </div>


    <div class="row justify-content-center text-center">
        <div class="column col-12 col-md-6">
            <a href="https://share.hsforms.com/1YYCtOd6TRR-94J91OfG_zw2ecmj">
            <img id="form" src="form-shot.jpg">
            </a>
        </div>
    </div>
</div>
