.headline {
    margin: 0;
    padding: 0;
    background-color: #fff0ff;
    border-radius: 5px;
}

.column.index {
    background-color: #92278f;
    text-align: center;
    border-radius: 5px;

}

.column.index h1 {
    padding: 5px;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 50pt;
    color: white;
}

.icon {
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
}

.description {
    padding-bottom: 30px;
}

.indexrect {
    border-radius: 50px;

    border-color: black;
    background-color: #92278f;
    border-style: none;
}

.point {
    padding: 0;
}

.heading {
    color: #fff;
    font-size: 40pt;
}
.tagline {
    color: #fff;
}

.featureicon {
    height: 60px;
}

.featurediv {
    max-width: 400px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 20px;
}

.thin {
    font-weight: 400;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    text-transform: uppercase;
    font-size: 10pt;
    line-height: 1.4em;
}
p {
    font-size: 15pt;
}

.description i {
    color: #92278f
}

.btn-primary {
    background-color: #92278f;
    border-color: #92278f;
    margin: 10px;
    width: 70%;

}

.mycard {
    border-color: rgba(0,0,0,.1);
    border-style: solid;
    border-width: 1px;
    margin: 10px;
    padding: 0;
    border-radius: 5px;

}



@media(max-width:576px) {
    .text-right {
        text-align: center !important;
    }
    .point {
        text-align: center!important;
    }
    .icon {
        padding-top: 20px;
    }
    .heading {
        font-size: 35pt;
    }

    .tagline {
        font-size: 25pt;
    }
    p {
        text-align: center !important
    }


}

@media print {
    .container {
        page-break-after: always;
    }
    #mainNav, aside#contact.banner {
        display: none !important;
    }
    .heading {
        font-size: 50pt !important;
    }

    .tagline {
        font-size: 25pt !important;
    }

    h1 {
        font-size: 15pt !important;
    }
    .point h1 {
        font-size: 10pt !important;

    }
    .fa-3x {
        font-size: 2rem !important;
    }
    p {
        font-size: 11pt !important;
    }
}
