---
layout: health
title: Cyber Health for Employees
styles:
  - ../../custom.css

heading: Stay safe online
subheading: Cyber Health Month for the Employees - Week 3

leftbox:
  - First:
    heading: Lock down your home router
    text: >
      Attacks against popular Internet-services, such as Netflix or different Internet banks sometimes get into the
      general news. The news rarely explain why these attacks are possible. The devices you connect to the Internet
      may have security vulnerabilities. Criminals search vulnerable devices and use them to attack others.
      They either take over the device, or just reflect their attack traffic. Complete this week's mission to check
      if security researchers have reported your home router can be used in attacks.
  - Second:
    heading: Protect your computer
    text: >
      Criminals know how to get around antivirus protection. Good cyber hygiene practices are more important than ever.
      Criminals now make billions by extorting people and companies. They encrypt files and demand
      money for unlocking them. They record your activities and threaten to release their material.
      Last week you learned how criminals exploit trust relationships. Be suspicious even if the
      email attachment came from your colleague. Before clicking links, hover the mouse on top of it and check from the
      tooltip or the status bar at the bottom where it actually leads.
  - Third:
    heading: Be smart about smart devices
    text: >
      TV's, light bulbs, security cameras, and many other devices are now smart and online. Manufacturers
      look for the cheapest means to get their devices online, and that is bad news for the security. When buying smart devices,
      think what could happen if someone got access to them. Read about their capabilities. Netamo weather station also measures
      background noise - so it must have a microphone. Can you access your security camera's feed from the Internet? Maybe some
      day someone else can too. Place the cameras in a way they have minimal impact to your privacy.
rightbox:
  - Ingress:
    heading: Be Smart with Devices
    text: >
      During this month you have learned why your personal online safety matters and how to protect your personal
      information online. If you need to refresh your memory, all materials are available <a href="../">here.</a>
      This week you will learn if the networks you use to connect to the Internet can be
      hacked, or have already been hacked and used to attack others.
  - Mission:
    subheading: Your mission this week
    text: >
      Your mission this week is to become aware if the networks you use to connect to the Internet are vulnerable
      to hacking - or have already been hacked and used to attack others. Start with your home. Connect your personal device,
      such as your smart phone or home computer to your home WiFi network. Visit badrap.io and check the results for your
      IP-address. IP-address means the Internet address you use to connect to the Internet. Save your IP with "Save asset" -button to get email warnings if something is found in future. Please note
      that if you use a laptop from work, it can make badrap.io to think you are coming from your work network and show
      different results.
    img: ip-assets.jpg
    img-text: Check more IP-addresses.
  - How:
    subheading: Make it a habit
    text: >
      Just like in the real-world, good habits lay out the foundation for good online health. It is not easy to
      change habits, but we all have learned to brush our teeth and wash our hands, so it is possible. In the online world,
      automation picks up our habits over time. For example software updates are mostly
      automatic these days. Create a habit of visiting badrap.io once per month. Your que is the montly "All good" -email.
      Check that you have up to date IP-address for your home. Check also if you have created new email addresses to follow.
    img: all-good.jpg
    img-text: Your monthly all-good email is your que to visit badrap.io and check your asset list is up to date.
missionbox:
  heading: Your mission for week 3
  text: Take these easy steps to qualify for rewards&#58
  steps:
    - Click the button below to give your employer another plus point and to learn for how many IP-addresses badrap.io has received security reports.
    - Visit badrap.io from your home WiFi. To remember, write the address down or forward this week's email to an email service you have access from home.

---
<div class="container horizontal-border wider-mobile px-2">
  <div class="row row-header mb-5">
    <div class="column col-12 col-header px-0 text-center">
      <h1> {{page.heading}}</h1>
      <h2> {{page.subheading}}</h2>
    </div>
  </div>
  <div class="row bottom-border pb-4">
    <div class="column align-content-center col-left col-12 order-2 order-lg-1 col-lg-4 px-2">

      <div class="rapdark">
        {% for section in page.leftbox %}
        <h3>{{section.heading}}</h3>
        {% if section.img != null %}
        {{section.img}}
        {% endif %}
        <p> {{section.text}} </p>
        {% endfor %}
      </div>
    </div>
    <div class="col-right column col-12 col-lg-8 order-1 order-lg-2 left-border">
      {% for item in page.rightbox %}
      {% if item.heading != null %}
      <h3>{{item.heading}}</h3>
      {% endif %}

      {% if item.subheading != null %}
      <h4>{{item.subheading}}</h4>
      {% endif %}

      {% if item.img != null %}
      <img src="{{item.img}}" width="{{item.img-size | default: '100%' }}">
      <p class="img-text">{{item.img-text}}</p>
      {% endif %}

      {% if item.text != null %}
      <p>{{item.text}}</p>
      {% endif %}
      {% endfor %}
    </div>
  </div>
  <div class="row justify-content-md-center bottom-border pt-5">
    <div class="column mission col-md-12 col-lg-10 py-3 mb-5">
      <h2>{{page.missionbox.heading}}</h2>
      <p> {{page.missionbox.text}}</p>
      <ol>
        {% for listitem in page.missionbox.steps %}
        <li>{{listitem}}</li>
        {% endfor %}
      </ol>
      <a class="btn btn-primary" target="_blank" role="button"
        href="https://docs.google.com/forms/d/e/1FAIpQLSciljvu5ZPx1lge0oO9c6Z0_FoZvvAH60qtOXDFiUwNr8YRQQ/viewform">+1
        for employer</a>
      <a class="btn btn-primary" target="_blank" role="button"
        href="https://badrap.io/?utm_source=hygiene-week-3&utm_medium=landing-page&utm_campaign=hygiene-key&utm_content=week3">Go
        to badrap.io</a>
    </div>
  </div>
</div>