---
layout: health
title: Cyber Health for Employees
styles:
  - ../../custom.css

heading: Stay safe online
subheading: Cyber Health Month for the Employees - Week 3

leftbox:
  - First:
    heading: Be smart with smart devices
    text: >
      TV's, light bulbs, security cameras, and many other devices are now smart and online. Some manufacturers may
      look for the cheapest means to get their devices online, and that is bad news for the security. When buying smart devices,
      think about what could happen if someone got access to them. Read about their capabilities. Netamo weather station also measures
      background noise - so it must have a microphone. Can you access your security camera's feed from the Internet? Maybe
      someone else could too? Place the cameras in a way they have minimal impact on your privacy.
  - First:
    heading: Check your networks
    text: >
      Denial of Service Attacks against popular Internet-services, such as Netflix make news.
      The news rarely explains why these attacks are possible. The devices people connect to the Internet
      may have security vulnerabilities. Criminals search for masses of these vulnerable devices and use them to attack others.
      They either take over the device for the attack or use it to amplify their attack traffic.  Complete this week's mission to check
      if security researchers have reported issues for the devices in the networks you care about.
  - Second:
    heading: Protect your computer
    text: >
      Criminals know how to get around antivirus protection. Good cyber hygiene practices are critical.
      Criminals make a lot of money by extorting people and companies. They may encrypt files and demand
      money for unlocking them (ransomware). They may record your activities and threaten to release their material,
      or just fake that they have something (extortion).
      Last week you learned how criminals exploit trust relationships. Keep your guards upeven if the
      email comes from your friend or colleague.

rightbox:
  - Ingress:
    heading: Protect Your Devices and Networks
    text: >
      During this month you have learned why your online safety matters and how to protect your personal
      information online. If you need to refresh your memory, all materials are available <a href="../">here.</a>
      This week you will learn if the networks you use to connect to the Internet have devices that can be hacked,
      or have already been hacked and used to attack others.
  - Mission:
    subheading: Your mission this week
    text: >
      Your mission is to check the networks you use. Badrap.io has information about vulnerable
      and compromised devices connected to the Internet. You can use your account at badrap.io to check that
      there is no known trouble in places you connect from. Start with your home. Connect your personal device,
      such as your smartphone to your home WiFi network. Visit badrap.io and check the results for your
      network IP-address. If you see a warning, follow the instructions. Save the IP with
      "Save asset" -button to get email warnings in the future.
    img: ip-assets.jpg
    img-text: Checking the network (IP-address) with badrap.io
  - How:
    subheading: Make it a habit
    text: >
      Just like in the real world, good habits lay out the foundation for good online health. It is not easy to
      change habits, but we all have learned to brush our teeth and wash our hands. In the online world,
      automation picks up our habits over time. For example, software updates are mostly
      automatic these days. Create a habit of visiting badrap.io once per month. Your cue is the monthly "All good" -email.
      Revisit badrap.io from networks you care about to see if your IP-addresses have changed.
      Also add any new email you might have created since your last visit.
    img: all-good.jpg
    img-text: Your monthly all-good email is your cue to visit badrap.io and check your asset list is up to date.
    img-size: 60%
missionbox:
  heading: Your mission for week 3
  text: Take these easy steps to qualify for rewards&#58
  steps:
    - Click the button below to give your employer another plus point, to learn why you should use a personal device when checking your home, and to learn how many records badrap.io's database contains about IP-addresses.
    - Visit badrap.io from your home WiFi with your personal device. If you don't have WiFi network at home, visit badrap.io from another network you care about.

---
<div class="container horizontal-border wider-mobile px-2">
  <div class="row row-header mb-5">
    <div class="column col-12 col-header px-0 text-center">
      <h1> {{page.heading}}</h1>
      <h2> {{page.subheading}}</h2>
    </div>
  </div>
  <div class="row bottom-border pb-4">
    <div class="column align-content-center col-left col-12 order-2 order-lg-1 col-lg-4 px-2">

      <div class="rapdark">
        {% for section in page.leftbox %}
        <h3>{{section.heading}}</h3>
        {% if section.img != null %}
        {{section.img}}
        {% endif %}
        <p> {{section.text}} </p>
        {% endfor %}
      </div>
    </div>
    <div class="col-right column col-12 col-lg-8 order-1 order-lg-2 left-border">
      {% for item in page.rightbox %}
      {% if item.heading != null %}
      <h3>{{item.heading}}</h3>
      {% endif %}

      {% if item.subheading != null %}
      <h4>{{item.subheading}}</h4>
      {% endif %}

      {% if item.img != null %}
      <img src="{{item.img}}" width="{{item.img-size | default: '100%' }}">
      <p class="img-text">{{item.img-text}}</p>
      {% endif %}

      {% if item.text != null %}
      <p>{{item.text}}</p>
      {% endif %}
      {% endfor %}
    </div>
  </div>
  <div class="row justify-content-md-center bottom-border pt-5">
    <div class="column mission col-md-12 col-lg-10 py-3 mb-5">
      <h2>{{page.missionbox.heading}}</h2>
      <p> {{page.missionbox.text}}</p>
      <ol>
        {% for listitem in page.missionbox.steps %}
        <li>{{listitem}}</li>
        {% endfor %}
      </ol>
      <a class="btn btn-primary" target="_blank" role="button"
        href=https://docs.google.com/forms/d/e/1FAIpQLSddLwsVlk8LTxJihHBAlpIan5prV5LGXfMTsMWLvbyDT2JeLw/viewform>+1
        for employer</a>
      <a class="btn btn-primary" target="_blank" role="button"
        href="https://badrap.io/?utm_source=hygiene-week-3&utm_medium=landing-page&utm_campaign=hygiene-key&utm_content=week3">Go
        to badrap.io</a>
    </div>
  </div>
</div>