---
layout: slides
title: Stay Safe Online
og:
  title: Stay Safe Online
  description: Learn about cyberhygiene
  url: https://about.badrap.io/educate/staysafe/
  image: https://about.badrap.io/educate/staysafe/ogimage.jpg
styles:
    - reveal.js/css/reveal.css
    - reveal.js/css/theme/white.css
    - badrap.css
slides:
  - slide:
    layout: slide-image-and-text
    title:
      text: Your safety matters
    text:
      text: >
        Others depend on you to stay safe.
        Make sure that your data or devices are not used as stepping stones in any attack.
    video:
      src: img/others.mov
      type: video/mov
      poster: img/basics-others-depend.svg
  - slide:
    title:
      text: Take care of your assets
    text:
      text: Where is your personal information? What devices you use?
    img:
      src: img/basics-cropped.svg
      width: 80%
  - slide:
    layout: slide-image-and-text
    title:
      text: Third party services
    text:
      text: >
        Criminals steal personal data from third party services.
        They use your information to conduct further attacks or run credible-looking scams.
    img:
      src: img/basics-third-party.svg

  - slide:
    layout: slide-image-and-text
    title:
      text: Third party services
    text:
      text: >
        Your providers should warn you when your data has been breached. But sometimes they don't.
        Sometimes they don't even notice.
        <a href="badrap.io">badrap.io</a> warns you if security researchers have found your
        information available out in the open.
    img:
      src: img/basics-third-party.svg

  - slide:
    layout: slide-image-and-text
    title:
      text: Internet of Things (IoT)
    text:
      text: >
        IoT-devices often have vulnerabilities. Security researchers scan the
        Internet to find the vulnerabilities before attackers can use them.
        And they monitor where the ongoing attacks are coming from.
    img:
      src: img/basics-internet-of-things.svg

  - slide:
    layout: slide-image-and-text
    title:
      text: Internet of Things (IoT)
    text:
      text: >
        Get started by checking if there are updates for your home router. And make sure it does not use a default password.
        Search the net for further instructions by using keywords such as router's brand, model and manual or security.
    img:
      src: img/basics-internet-of-things.svg

  - slide:
    layout: slide-image-and-text
    title:
      text: Internet of Things (IoT)
    text:
      text: >
        And remember, IoT devices send data to the cloud. The personal information they collect
        can also be breached. Turn those security cameras away from you and your neighbours.
    img:
      src: img/basics-internet-of-things.svg

  - slide:
    layout: slide-image-and-text
    title:
      text: Personal devices
    text:
      text: >
        The personal devices you carry may provide the keys to the kingdom. You may access critical information or
        systems with them. Or you may use them to be in contact with somebody who does.
    img:
      src: img/basics-byod.svg

  - slide:
    layout: slide-image-and-text
    title:
      text: Personal devices
    text:
      text: >
        Software and operating system vendors try to eradicate vulnerabilities and ship regular updates to
        keep you safe. So criminals often try to scam you to compromise their security.
    img:
      src: img/basics-byod.svg
  - slide:
    title:
      text: Let's step up our game!
    text:
      text: >
        <em>Everyone</em>: use badrap.io to get warnings when your personal information has leaked and when your networks are vulnerable.
        <em>Employer</em> get Employee Cyber Hygiene online training for your employees.
    buttons:
      - button:
        link: https://badrap.io/?utm_source=landing-page&utm_medium=web&utm_campaign=staysafe&utm_content=deck
        text: Everyone
      - button:
        link: https://hygiene.badrap.io/?utm_source=landing-page&utm_medium=web&utm_campaign=staysafe&utm_content=deck
        text: Employer

---
{% for slide in page.slides %}

    <!--- post post post -->

    {% if slide.layout == null %}
        {% assign layout = "slide-default" %}
    {% else %}
        {% assign layout = slide.layout %}
    {% endif %}

    {% include {{layout}}.html %}

    <!--- END post post post -->

{% endfor %}
