---
layout: health
title: Cyber Health for Employees
styles:
  - ../../custom.css

heading: Stay safe online
subheading: Cyber Health Month for the Employees - Week 2

leftbox:
  - First:
    heading: Practice Online Hygiene
    text: >
      Use password management tools and let them choose unique and strong passwords for you.
      More and more services offer two-factor authentication, often shortened as 2FA or MFA.
      When a service you use offers to enable them, please do! The bonus material at the bottom has examples.
  - Second:
    heading: Stop Attempts to Steal Your Identity
    text: >
      No-one has a legit reason to ask your password, so you don't usually hand it over if somebody asks.
      Scammers create websites that look similar to the sites that you already use.
      Using two-factor authentication in the real site protects you. Pay close attention to the address
      of the page you are visiting, because it may look similar to that of a genuine site. Watch the video
      on the bonus material to learn more ways to spot scams.
  - Third:
    heading: Monitor Data Breaches
    text: >
      Criminals may also steal your personal information directly from the services you use,
      if the service provider has made a mistake and has not secured your information properly.
      You can use badrap.io to monitor if your personal information has been stolen.
      If you discover this is the case, read the bonus material to know what to do.

rightbox:
  - Ingress:
    heading: Protect Your Personal Information
    text: >
      Last week you learned that criminals could use stolen information to conduct further attacks.
      When you protect yourself online, you also protect the people you know.
      This week you will get tips on how to protect your personal information and what to do if
      you become a victim of a data breach. You will also get bonus material you can study in your
      free time to see practical examples.
  - Picture:
    img: email-assets.jpg
    img-text: Add more email addresses
  - Mission:
    subheading: Your mission this week
    text: >
      Your mission this week is to enable data breach monitoring and claim more email addresses. Claim means
      that you add a new email address for monitoring and verify that the address belongs to you. Add
      your email addresses with the "add email" -button. Verify your ownership from the verification
      email badrap.io sends to the addresses you claimed. Note that the emails and results appear
      to your list only after verification.
  - Picture2:
    img: enable-monitoring.jpg
    img-text: Grant badrap.io permission to check if your data has leaked
  - Alert:
    subheading: Did you get an alert?
    text: >
      Don't panic! The bonus material at the bottom of this page has a link on instructions. Also, use this
      experience to educate others. Your family, your colleagues, or anyone
      you care about. Point them to the same instructions you read when you went through your experience.
missionbox:
  heading: Your mission for week 2
  text: Take these easy steps to qualify for rewards&#58
  steps:
    - Go to badrap.io with the button below and add more email addresses as shown in the first picture above. 
    - Verify that you own the email addresses from the verification mails badrap.io sends to each address.
    - Give badrap.io permission to check if your email has appeared in the known data breaches, as shown on the second picture.
    - Click the button below to give your employer plus point in cyber security awareness and to know what is the most common data breach among badrap.io users.

---
<div class="container horizontal-border wider-mobile">
  <div class="row row-header mb-5">
    <div class="column col-12 col-header px-0 text-center">
      <h1> {{page.heading}}</h1>
      <h2> {{page.subheading}}</h2>
    </div>
  </div>
  <div class="row bottom-border pb-4">
    <div class="column col-left col-12 col-lg-4">
      <div class="rapdark">
        {% for feature in page.leftbox %}
        <h3>{{feature.heading}}</h3>
        <p> {{feature.text}} </p>
        {% if feature.button != null %}
        {{feature.button}}
        {% endif %}
        {% endfor %}
      </div>
    </div>
    <div class="col-right column col-12 col-lg-8 left-border">
      {% for item in page.rightbox %}
      {% if item.heading != null %}
      <h3>{{item.heading}}</h3>
      {% endif %}

      {% if item.subheading != null %}
      <h4>{{item.subheading}}</h4>
      {% endif %}

      {% if item.img != null %}
      <img src="{{item.img}}" width="100%">
      <p class="img-text">{{item.img-text}}</p>
      {% endif %}

      {% if item.text != null %}
      <p>{{item.text}}</p>
      {% endif %}
      {% endfor %}
    </div>
  </div>
  <div class="row justify-content-md-center bottom-border pt-5">
    <div class="column mission col-md-12 col-lg-10 py-2 mb-5">
      <h2>{{page.missionbox.heading}}</h2>
      <p> {{page.missionbox.text}}</p>
      <ol>
        {% for listitem in page.missionbox.steps %}
        <li>{{listitem}}</li>
        {% endfor %}
      </ol>
      <a class="btn btn-primary" target="_blank" role="button" href="https://badrap.io/?utm_source=hygiene-week-1&utm_medium=landing-page&utm_campaign=hygiene-key&utm_content=week1">Register</a>
      <a class="btn btn-primary" target="_blank" role="button" href="https://docs.google.com/forms/d/e/1FAIpQLSciljvu5ZPx1lge0oO9c6Z0_FoZvvAH60qtOXDFiUwNr8YRQQ/viewform">+1 for employer</a>
    </div>
  </div>
  <div class="row pt-5">
    <div class="column col-md-11 col-lg-8 py-2 mb-5">
      <h1>Bonus Material</h1>
      Below we provide links to practical examples you can study on your free time. They will take you to the path
      of healthy online habits, enjoy!
      <ol>
        <li>Practice Online Hygiene
          <ul>
            <li>
                Two-factor authentication: example instructions for
                <a href="https://www.facebook.com/help/148233965247823" target="_blank">Facebook</a>
                and <a href="https://www.google.com/landing/2step/" target="_blank">Google</a>
            </li>

            <li>Password managers: Browsers such as Chrome, Firefox and Safari have built-in password managers.
                Also Apps such as
                <a href="https://1password.com/" target="_blank">1Password</a>,
                <a href="https://www.lastpass.com/" target="_blank">LastPass</a>, and
                <a href="https://keepass.info/" target="_blank">KeePass</a> are as good as any.
            </li>
          </ul>
        </li>

        <li>Stop Attempts to Steal Your Identity</li>
        <ul>
          <li> <a href="https://youtu.be/R12_y2BhKbE" target="_blank"> Stay safe from Phishing and Scams </a>
            -video (3 minutes 14 seconds) shows how to spot the signs of a scam. </li>
           <li>In a hurry? Watch <a href="https://youtu.be/R12_y2BhKbE?t=115" target="_blank"> the most relevant part</a> (1 min 19 seconds)
          </li>
        </ul>
        <li>Monitor Data Breaches</li>
          <ul>
            <li>
              Did you get a data breach alert from badrap.io?
              Read <a href="https://medium.com/badrapio/i-got-a-data-breach-alert-what-next-d3fa36d9a7c7"
              target="_blank"> our blog </a> to know about what to do.</li>
          </ul>
        </li>
      </ol>
    </div>
  </div>
</div>