---
layout: health
title: Cyber Health for Employees
styles:
  - ../../custom.css

heading: Stay safe online
subheading: Cyber Health Month for the Employees - Week 2

leftbox:
  - First:
    heading: Stolen passwords used to attack other services
    text: >
      27% of us use the same or similar password in different services. Criminals buy or steal usernames and passwords
      to run automated attacks against other services. Make their life harder by using unique passwords in
      every service. Pay special attention to your email accounts as they can be used to reset the passwords of other services.
  - Second:
    heading: Trust relationships get exploited
    text: >
      Criminals might get someone to transfer money to their own accounts. These attacks work
      because they are timed well and look credible. Criminals like to
      get hold of email and social media accounts and monitor the messaging to study the target and wait for the right opportunity.
      They also like to send spam and run less tailored attacks against your contacts. Make sure your social media and email account passwords are not used anywhere else.

  - Third:
    heading: Personal information used in scams
    text: >
      While Internet services and smartphone apps may have legitimate reasons to collect your personal information, problems arise
      when the organisations don't adequately protect the data they collect. Criminals can take this information and impersonate you while
      scamming others.
      Treat personal information like money. Give it away only when necessary. Remove unnecessary personal details
      such as your birthday and home address from online services. When a smartphone app asks permission for personal information, such as
      your contacts or location data, deny it whenever you can.

rightbox:
  - Ingress:
    heading: Protect Your Personal Information
    text: >
      Last week you learned that criminals could use stolen information to conduct further attacks.
      This week you will learn what those further attacks are - and the easiest ways to protect yourself.
      Completing this week's mission unlocks bonus material which contains more practical tips and videos.
  - Mission:
    subheading: Your mission this week
    text: >
      Your mission this week is to become aware if you are affected by any of the known data breaches.
      Think what are the email addresses you have used to register to different Internet services.
      Add them to your asset list
      with the "add email" -button (see the image above). Badrap.io sends a verification email to each address.
      You can also add email addresses from other members of your family. Just ask them if they are willing to verify their emails for you.
      Addresses and results appear in your asset list after the verification.
    img: email-assets.jpg
    img-text: Add more email addresses.
  - How:
    subheading: How data breach check is possible
    text: >
      Security researchers find stolen personal information being sold on the Internet. They also find Internet services which
      accidentally expose personal information to the public. Many submit their findings to
      a reputable service called Have I Been Pwned, where you can check with your email address if you are affected.
      Have I Been Pwned is one of the badrap.io's data sources. Remember to turn it on (see the image below).

  - Enable:
    img: enable-monitoring.jpg
    img-text: Enable data breach monitoring
missionbox:
  heading: Your mission for week 2
  text: Take these easy steps to qualify for rewards&#58
  steps:
    - Go to badrap.io with the button below. Add your other email addresses as shown in the first picture above and verify they are yours.
    - Enable data breach monitoring if you haven't already. See the second picture above.
    - Click the button below to give your employer another plus point. By completing this step you will learn what is the most common source of data breach among badrap.io users and get access to the bonus material.

---
<div class="container horizontal-border wider-mobile px-2">
  <div class="row row-header mb-5">
    <div class="column col-12 col-header px-0 text-center">
      <h1> {{page.heading}}</h1>
      <h2> {{page.subheading}}</h2>
    </div>
  </div>
  <div class="row bottom-border pb-4">
    <div class="column align-content-center col-left col-12 order-2 order-lg-1 col-lg-4 px-2">

      <div class="rapdark">
        {% for section in page.leftbox %}
        <h3>{{section.heading}}</h3>
        {% if section.img != null %}
        {{section.img}}
        {% endif %}
        <p> {{section.text}} </p>
        {% endfor %}
      </div>
    </div>
    <div class="col-right column col-12 col-lg-8 order-1 order-lg-2 left-border">
      {% for item in page.rightbox %}
      {% if item.heading != null %}
      <h3>{{item.heading}}</h3>
      {% endif %}

      {% if item.subheading != null %}
      <h4>{{item.subheading}}</h4>
      {% endif %}

      {% if item.img != null %}
      <img src="{{item.img}}" width="100%">
      <p class="img-text">{{item.img-text}}</p>
      {% endif %}

      {% if item.text != null %}
      <p>{{item.text}}</p>
      {% endif %}
      {% endfor %}
    </div>
  </div>
  <div class="row justify-content-md-center bottom-border pt-5">
    <div class="column mission col-md-12 col-lg-10 py-3 mb-5">
      <h2>{{page.missionbox.heading}}</h2>
      <p> {{page.missionbox.text}}</p>
      <ol>
        {% for listitem in page.missionbox.steps %}
        <li>{{listitem}}</li>
        {% endfor %}
      </ol>
      <a class="btn btn-primary" target="_blank" role="button"
        href="https://badrap.io/?utm_source=hygiene-week-2&utm_medium=landing-page&utm_campaign=hygiene-key&utm_content=week2">Go
        to badrap.io</a>
      <a class="btn btn-primary" target="_blank" role="button"
        href="https://docs.google.com/forms/d/e/1FAIpQLSciljvu5ZPx1lge0oO9c6Z0_FoZvvAH60qtOXDFiUwNr8YRQQ/viewform">+1
        for employer</a>
    </div>
  </div>
</div>