---
layout: mombo
styles:
- ../css/mombo-fixes.css
- custom.css
lang: en
ogurl: https://hygiene.badrap.io/
ogtitle: Employee Cyber Hygiene
title: Employee Cyber Hygiene

ogdescription: Protect your Employees » Protect your Business
ogimage: https://hygiene.badrap.io/ogimage.jpg
twitter: "@badrapio"
twittercard: summary_large_image
pagetitle: Employee Cyber Hygiene

---
{% assign content = site.data.hr %}
<!-- Main -->
<main>
    <!-- Home Banner -->
    <section id="home" class="effect-section">
        <div class="effect-shape theme-bg"></div>
        <div class="container">
            <div class="row full-screen align-items-center justify-content-between lg-m-80px-tb">
                <div class="col-lg-6 m-50px-tb">
                    <h1 class="white-color display-4 m-20px-b">{{content.pagetitle[page.lang]}}
                    </h1>
                    <p class="font-2 white-color-light">{{content.tagline[page.lang]}}</p>
                </div>
                <div class="col-lg-6">
                    <img class="max-width-auto" src="blog-post-bro.svg" title="" alt="">
                </div>
            </div>
        </div>
    </section>
    <!-- End Home Banner -->

    <!-- Section -->
    <section id="about" class="section gray-bg">
        <div class="container">
            <div class="row md-m-25px-b m-45px-b justify-content-center text-center">
                <div class="col-lg-8">
                    <h3 class="h1 m-20px-b p-20px-b theme-after after-50px">{{content.benefits.title[page.lang]}}</h3>
                    <p class="m-0px font-2">{{content.benefits.text[page.lang]}}</p>
                </div>
            </div>
            <div class="row">

                {% assign i = 0 %}
                {% for item in content.benefits.boxes %}
                {% assign i = i | plus:1 %}
                <div class="col-md-12 col-lg-4 m-15px-tb">
                    <div
                        class="sameheight p-50px-tb p-25px-lr box-shadow-hover hover-top hover-rotate white-bg text-center border-radius-5">
                        <div
                            class="ef-2 icon-80 theme-bg border-radius-50 theme2nd-color d-inline-block m-20px-b hr-rotate-after">
                            <i class="{{item.icon}} white-color"></i>
                        </div>
                        <h5 class="h6 m-10px-b">{{item.title[page.lang]}}</h5>
                        <p class="m-0px">{{item.text[page.lang]}}</p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <!-- End Section -->
    <section class="section" id="testimonials">
        <div class="container">
            <div class="row md-m-25px-b m-45px-b justify-content-center text-center">
                <div class="col-lg-8">
                    <h3 class="h1 m-20px-b p-20px-b theme-after after-50px">

                        {{site.data.hr.testimonials.header[page.lang]}}</h3>
                    <p class="m-0px font-1">{{content.testimonials.text[page.lang]}}</p>
                </div>
            </div>
            <div class="owl-carousel" data-items="3" data-nav-dots="true" data-md-items="3" data-sm-items="2"
                data-xs-items="1" data-xx-items="1" data-space="30">

                {% for item in site.data.hr.testimonials.list[page.lang] %}
                <div class="border-all-1 border-color-dark-gray text-center m-25px-t m-20px-b">
                    <div class="icon-60 border-radius-50 theme2nd-bg white-color d-inline-block mt-n5">
                        <i class="fas fa-quote-left"></i>
                    </div>
                    <div class="p-25px">
                        <p>{{item}}</p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <!-- End Section -->
   
      <!-- Section -->
      <section class="section gray-bg">
        <div class="container">
            <div class="row md-m-25px-b m-45px-b justify-content-center text-center">
                <div class="col-lg-10">
                    <h3 class="h1 m-15px-b">{{site.data.hr.packages.title[page.lang]}}</h3>
                    <p class="m-0px font-2">{{content.packages.text[page.lang]}}</p>
                </div>
            </div>
            <div class="row">
                <!-- Price Box -->
                {% for item in content.packages.prices %}

                <div class="col-md-6 m-15px-tb">
                    <div class="price-table-03 transition box-shadow-hover hover-top">
                        <div class="pt-head">
                            <h3>{{item.title[page.lang]}}</h3>
                            <div class="pt-icon">
                                <img src="{{item.icon.url}}" title="{{item.icon.title}}" height="150px" alt="{{item.icon.alt}}">
                            </div>
                            <div class="price">
                                {{item.price[page.lang]}}<span>/ {{item.time[page.lang]}}</span>
                            </div>
                        </div>
                        <div class="pt-body">
                            <ul>
                                {% for feature in item.features[page.lang] %}
    
                                <li>{{feature}}</li>
            
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="pt-action">
                            <a class="m-btn m-btn-theme m-btn-radius" id="{{item.ctaid}}" href="{{item.cta-url[page.lang]}}">{{item.cta[page.lang]}}</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
                <!-- End Price Box -->
            </div>
        </div>
    </section>
    <!-- End Section -->
    <!-- section -->
    <section class="section bg-cover bg-no-repeat effect-section" style="background-image: url(/img/companies.jpg);">
        <div class="container">
            <div class="row justify-content-center justify-content-lg-between align-items-center">
                <div class="col-sm-8 col-lg-6 col-xl-5 order-lg-2">
                    <div class="card box-shadow-lg">
                        <div class="card-body">
                            <h3 class="font-w-600 dark-color">Mobilize your employees</h3>
                            <p>See how it works! When you sign up, you will get an email pointing you to
                                the phase one training material.</p>
                            <div class="_form_{{content.eval.ac-form-id[page.lang]}}"></div>
                            <script
                                src="https://badrap.activehosted.com/f/embed.php?id={{content.eval.ac-form-id[page.lang]}}"
                                type="text/javascript" charset="utf-8"></script>
                        </div>
                        <div class="card-footer">
                            <a href="{{content.eval.policy-url[page.lang]}}"
                                class="small font-w-600">{{content.eval.policy[page.lang]}}</a></div>
                    </div>
                </div>
                <div class="col-lg-5 order-lg-1 d-none d-lg-block">
                    <blockquote class="blockquote">
                        <h3 class="white-color font-w-500 h3 m-15px-b">{{content.quote.text[page.lang]}}</h3>
                        <footer class="blockquote-footer white-color-light"><cite title="Source Title">Jani Kenttälä,
                                CEO</cite></footer>
                    </blockquote>
                </div>
            </div>
        </div>
    </section>
    <!-- end section -->
</main>