---
layout: page
title: Cyber Hygiene for Employees
ogdescription: Protect the Employees » Protect the Business
twittercard: summary_large_image
twitter: "@BadRapIO"
styles:
  - /vendor/agency/css/agency.min.css
  - /css/badrap.css
  - custom.css
headline: Cyber Hygiene for Employees
tagline: Protect the Employees » Protect the Business

founderquote:
    image: jani-face-round.png
    name: Jani, CEO
    blurp: >
      You protect your IT-systems and employees at work. But
      what happens when your employees get compromised during their free
      time? Modern attacks are indirect. First, they take the employee, then
      they take the business. Aren't you tired of hearing the catchphrase "human is the weakest
      link in security"? We created this service so you can make that link stronger.

benefits:
    - benefit: Avoid Data Breaches
      insummary: true
      tagline: by protecting employees' identities
      icon: <i class="fas fa-database fa-4x"></i>
      morelink: databreaches
      long: >
        81% of confirmed data breaches involved leveraging weak or stolen
        passwords, says Spycloud. And no wonder, 27% of users recycle
        passwords, according to HPI. When your employees' information leak, your
        risk increases. Let Badrap security researchers
        warn your employees when their personal information leaks.

    - benefit: Show your care
      insummary: true
      icon: <i class="far fa-comments fa-4x"></i>
      tagline: You care about security and your employees. Let it show!
      morelink: pr
      long: >
        Employees stay longer when they feel appreciated. Future employees
        are more inclined to work with you when they know how much you care about them.
        Customers appreciate your efforts to keep their data safe.
    - benefit: Inspired by Occupational Health
      insummary: true
      tagline: You focus on your business. We focus on help and privacy.
      icon: <i class="fas fa-briefcase-medical fa-4x"></i>
      morelink: privacy
      long: >
          Privacy has been at the heart of our design from the get-go.
          Just like with occupational health, it is our job to help your employees
          to stay safe. Your employees can begin protecting all their assets
          without worrying if their employer is watching over their personal life.

    - benefit: Only Actionable Alerts
      insummary: false
      tagline: No alert fatigue
      icon: <i class="far fa-bell-slash fa-4x"></i>
      morelink: actionable
      long: >
        Regular people have a lot on their mind. Badrap warns only
        about practical security events impacting your employees' work and
        personal life. For example, has your employee's personal information leaked from
        a third party service? Can criminals use that information to attack your business?

    - benefit: Think Outside the Perimeter
      tagline: Keep your employees safe wherever they are
      icon: <i class="fas fa-home fa-4x"></i>
      morelink: perimeter
      long: >
        In the online world, work and personal identities live in harmony. We
        check our work and personal emails with the same devices.
        We work from home, where our personal devices surround us.
        And we bring our devices to work. Think outside the perimeter
        and stop attacks where they happen.
how:
    heading: How Does it Work?

features:
    - feature: Introduction
      icon: <img src="inform.svg" class="featureicon">
      tagline: Introduction email to your employees
      long: >
        We tell together about badrap.io to your employees.
        We explain that you have sponsored a fun way to take care of their
        personal security. We let them know about an intensive care period,
        and about the reward for the most active employee. After the intensive
        care period, badrap.io continues as a free service.

      longicon: <i class="fas fa-3x fa-envelope"></i>
      longid: inform

    - feature: Intensive Care Period
      icon: <img src="help.svg" class="featureicon">
      tagline: Employees sign up and we'll take care of them
      long: >
       Employees sign up to badrap.io to get security warnings related to their
       home networks and personal information. If they find issues, badrap.io
       explains them in human-friendly terms and help with the remediation.
       If the badrap.io instructions are not enough, our team supports via mail or phone.
      longicon: <i class="fas fa-3x fa-headset"></i>
      longid: discover

    - feature: Reward and shields up
      icon: <img src="reward.svg" class="featureicon">
      tagline: Reward for the most active employee. Badrap.io for everyone.
      long: >
        At the end of the campaign, we'll reward the most active employee.
        Most active employee means a person who has subscribed security warnings for the most
        networks and email addresses. Winner will receive a secure home router or
        WiFi base station. After the campaign, employees can keep using the
        free version of badrap.io service to stay safe.
      longicon: <i class="fas fa-3x fa-award"></i>
      longid: reward

whyus:
    heading: Why work with us?
    description: >
      Badrap was founded by security veterans, who have served countries, and critical
      infrastructure organisations for ages. We have witnessed how the Finnish approach
      of collecting and sharing security information with those in danger have helped
      organisations and individuals to stay safe. We've
      seen how other countries adapt to that model. Now we want to make security information
      accessible to everyone, including you and your employees.

packages:
    heading: Packages
    prices:
    - title: Personal Free
      price: Free »
      link: https://badrap.io
      features:
        - Monitor what others know about your security issues
        - Know if bad guys can exploit your vulnerabilities, or have already done so
        - Know if your personal information has leaked from third parties
        - Get instructions on how to mitigate the issues

    - title: Company M
      price: Contact sales  »
      link: https://share.hsforms.com/1YYCtOd6TRR-94J91OfG_zw2ecmj
      features:
        - Everything in <em>Personal Free</em> and
        - Introduction letter to your employees
        - We care for our employees -badges for web and social media
        - One month <strong>intensive care</strong> period for your employees
        - <strong>Reward</strong> for the most active employee

    - title: Company L
      price: Contact sales »
      link: https://share.hsforms.com/1YYCtOd6TRR-94J91OfG_zw2ecmj
      features:
        - Everything in <em>Company M</em> and
        - Two month <strong> intensive care</strong> period instead of one
        - Data breach check for <strong>company email addresses</strong>with Fitsec Asset Tracker

moreinfo:
    heading: Want to talk more?
    how: >
        You can chat with
        Jani in <a
        href="https://www.linkedin.com/in/janikenttala/">LinkedIn</a>,
        contact us via email (contact@badrap.io)
        or leave your contact info to our
        <a href="https://share.hsforms.com/1YYCtOd6TRR-94J91OfG_zw2ecmj">contact form</a>,
        and we'll be in touch promptly!
    contactform: https://share.hsforms.com/1YYCtOd6TRR-94J91OfG_zw2ecmj
    formscreenshot: form-shot.jpg
---

<div class="container-fluid home">
    <div clas="row">
        <div class="column col-12 text-center my-auto">
            <h1 class="heading pt-5 pb-0 my-0 mx-auto">{{page.headline}}</h1>
            <h2 class="tagline pt-0 my-0"><em>{{page.tagline}}</em></h2>
        </div>
    </div>
</div>

<div class="container-fluid px-0" id="benefits">

    <div class="row my-0 mx-0 rapdark justify-content-center">

        {% for benefit in page.benefits %}
        {% if benefit.insummary != true %}
          {% continue %}
        {% endif %}

        <div class="benefits col-lg-4 col-9 mx-auto rapborder text-center justify-content-center">
            <div class="featurediv mx-2 mx-auto">
                <p class="tag mt-4"> {{benefit.benefit}} </p>
                {{benefit.icon}}
                <p class="thin">{{benefit.tagline}}</p>
                <a href="./#{{benefit.morelink}}" class="js-scroll-trigger">
                    <button type="button" class="btn btn-rap">Read more »</button>
                </a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<!-- Quote -->

<div class="container-fluid rapgray" id="founderquote">
    <div class="row py-3 justify-content-center">'
        <div class="column col-md-8 my-auto text-center">
            <quote class="blockquote">
                {{page.founderquote.blurp}}
            </quote>
        </div>
        <div class="column col-md-3 align-items-center text-center">
            <img src="{{page.founderquote.image}}" class="face mx-auto">
            <p> {{page.founderquote.name}}</p>
        </div>
    </div>
</div>

<!-- More about the benefits -->


{% for benefit in page.benefits %}

{% assign loopindex = forloop.index | modulo: 2 %}
{% if loopindex == 1 %}
{% assign picorder = "order-md-1 order-sm-1" %}
{% assign textorder = "order-md-2 order-sm-2" %}
{% assign bg = "rapwhite" %}
{% else %}
{% assign picorder = "order-md-2 order-sm-1" %}
{% assign textorder = "order-md-1 order-sm-2" %}
{% assign bg = "rapgray" %}

{% endif %}
<div class="container-fluid {{bg}} px-0">

    <section class="anchor" id="{{benefit.morelink}}"></section>
    <div class="row my-5 mx-5 justify-content-center">
        <div class="col-md-6 col-sm-12 mx-auto text-center
            justify-content-center {{textorder}}">
            <h2> {{benefit.benefit}} </h2>
            <p>{{benefit.long}}</p>
        </div>
        <div class="col-md-6 col-sm-12 mx-auto my-auto text-center
            justify-content-center {{picorder}}">
            {{benefit.icon}}
        </div>
    </div>
</div>
{% endfor %}


<!-- How it works short -->
<div class="container-fluid px-0" id="featurebanner">
    <div class="row justify-content-center text-center">
        <h1 class="py-5">{{page.how.heading}}</h1>
    </div>
    <div class="row my-0 mx-0 rapdark justify-content-center">

        {% for feature in page.features %}

        <div class="col-lg-4 col-9 mx-auto rapborder text-center justify-content-center">
            <div class="featurediv mx-2  mx-auto">
                <p class="tag mt-4"> {{feature.feature}} </p>
                {{feature.icon}}
                <p class="thin">{{feature.tagline}}</p>
            </div>
        </div>
        {% endfor %}

    </div>
</div>

<!-- How it works long -->
<div class="container px-0 pt-5" id="howitworks">

    {% for long in page.features %}
    {% assign loopindex = forloop.index | modulo: 2 %}
    {% if loopindex == 1 %}
    {% assign indexposition = "order-md-1" %}
    {% assign titlealign = "text-left" %}
    {% assign gradient = "gradient-toright" %}

    {% else %}

    {% assign indexposition = "order-md-3" %}
    {% assign titlealign = "text-right" %}
    {% assign gradient = "gradient-toleft" %}


    {% endif %}

    <div class="row headline {{gradient}}" id="{{point.id}}">
        <div class="column index col-lg-1 col-md-2 col-12 order-1 {{indexposition}}">
            <h1>{{forloop.index}}</h1>
        </div>
        <div class="column col-lg-11 col-md-10 col-12 order-2 my-auto">
            <h1 class="point my-3 {{titlealign}}"> {{long.feature}} </h1>
        </div>
    </div>
    <div class="row description mx-0">
        <div class="column icon col-lg-1 col-md-2 col-12 order-1 {{indexposition}}">
            {{long.longicon}}
        </div>
        <div class="column col-lg-11 col-md-10 col-12 order-2 py-5">
            <p class="{{titlealign}}">{{long.long}}</p>
        </div>
    </div>
    {% endfor %}
</div>

<div class="container-fluid planning parallax rapdark px-0 pb-0 pt-5">
    <div class="row justify-content-center text-center">
        <div class="column col-12 col-md-8">
            <h1 class="white">{{page.whyus.heading}}</h1>

        </div>
        <div class="column col-12 cold-md-8">
            <p class="white">{{page.whyus.description}}</p>

        </div>

    </div>

</div>


<div class="container-fluid rapgray">
    <div class="row mb-3 justify-content-center text-center">
        <h1 class="display-4">{{page.packages.heading}}</h1><br>
    </div>

    <div class="row mb-1 justify-content-center text-center">


        {% for package in page.packages.prices %}

        <div class="mycard col-12 col-lg-3 mb-4 shadow-sm">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">{{package.title}}</h4>
            </div>
            <div class="card-body">
                <ul class="list-unstyled mt-3 mb-0">
                    {% for feature in package.features %}
                    <li class="py-2">{{ feature }} </li>
                    {% endfor %}

                </ul>
            </div>

        </div>

        {% endfor %}
    </div>

    <div class="row justify-content-center text-center">
        <div class="column col-6 col-sm-4 col-md-3 col-lg-2">
            <a href="https://share.hsforms.com/1YYCtOd6TRR-94J91OfG_zw2ecmj"
                class="btn btn-primary mx-0">Contact sales »
            </a>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row py-5 justify-content-center text-center">
        <div class="column col-12 col-xl-6">
            <h1> {{page.moreinfo.heading}} </h1>
            <p> {{page.moreinfo.how}}
            </p>
        </div>
    </div>
</div>
