---
layout: slides
title: Badrap - Company Intro
styles:
    - reveal.js/css/reveal.css
    - reveal.js/css/theme/white.css
    - badrap.css

slides:
  - slide:
    title:
      text: Badrap
    subtitle:
      text: Security Information for All
    layout: slide-coverpage
    img:
      src: badrap-logo.svg
      alt: Badrap logo
      width: 30%

  - slide:
    title:
      text: Background
    text:
      text: >
        <ul>
          <li> Founded: 2017-07 by information security veterans
          <li> Funding: Ääkköset Oy and Tekes Tempo
          <li> Ownership: Team 72%, Ääkköset Oy 28%
          <li> Team: 2 full time and 4 part-time
        </ul>
  - slide:
    title:
      text: The team
    layout: slide-team
  - slide:
    title:
      text: Need for Security Information
    bullets:
      list:
        - Victims of malware attacking others
        - Owners of vulnerable appliances getting owned
        - Victims of data leaks getting exposed

  - slide:
    title:
      text: Supply of Security Information
    layout: slide-image-and-text
    text:
        text: Free and commercial&#58;
    bullets:
      list:
        - Attacker information
        - Vulnerability information
        - Data leak information
    img:
      src: sources-exist.jpg
      alt: Example information sources

  - slide:
    title:
      text: Nobody has solved the last mile problem in scale
    text:
      text: Already avaialble information is not used efficiently.
    img:
        src: lastmile.jpg
        alt: Last mile

  - slide:
    title:
      text: We will do it
      class: white
    subtitle:
      text: Rethinking sharing for scale
      class: white
    img:
      src: ../../img/badrap-connects.svg
      width: 400px;
      class: whitebox
      alt: Badrap connects icon
    section-parameters: >
      data-background-size="cover"
      data-background="linear-gradient(rgba(200, 60, 240, 0.8), rgba(255, 0, 0, 0.65)),
          url(planning.jpg)"

  - slide:
    layout: slide-image-and-text
    container:
      class: half
    title:
      text: Where are we now?
    text:
        text: We connect hand-picked researchers with individuals. We attract early adopters in social media.
    img:
      src: where-are-we-now.svg
      class: max

  - slide:

    title:
      text: Introducing badrap.io
    subtitle:
      text: a cloud-service for regular people
    img:
      src: badrapio.jpg
      width: 700px
      class: shadow

  - slide:
    layout: slide-image-and-text
    icon:
      src: individuals-icon.svg
      class: icon

    text:
      text: Attracking early adopters to the service. Others help.
    img:
      src: twitter-promoting.jpg
      class: shadow

  - slide:
    layout: slide-image-and-text
    icon:
      src: researchers-icon.svg
      class: icon
    text:
      text: Empowering security researchers who produce data in scale
    img:
      src: promoting-researchers.jpg
      class: shadow
  - slide:
    layout: slide-image-and-text
    icon:
      src: researchers-icon.svg
      class: icon
    text:
      text: Accepting security reports related to networks
    img:
      src: feeds.jpg
      class: shadow

  - slide:
    title:
      text: Next up
    icon:
      src: companies-icon.svg
      class: icon

  - slide:
    title:
      text: Starting with
      class: white
    subtitle:
      text: Cyber Hygiene for Employees
      class: white
    text:
      text: Protect the employees, protect the company
      class: white
    section-parameters: >
      data-background-size="cover"
      data-background="linear-gradient(
        rgba(200, 60, 240, 0),
        rgba(255, 0, 0, 0)),
        url(home.jpg)"
  - slide:
    title:
        text: The end

    buttons:
        - button:
          link: https://badrap.io
          text: Use badrap.io
          social:
        - button:
          link: https://about.badrap.io
          text: Our web pages
        - button:
          link: https://www.twitter.com/badrapio
          text: Twitter
        - button:
          link: https://medium.com/badrapio
          text: Medium
        - button:
          link: https://share.hsforms.com/1YYCtOd6TRR-94J91OfG_zw2ecmj
          text: Contact us
---

{% for slide in page.slides %}

    <!--- post post post -->

    {% if slide.layout == null %}
        {% assign layout = "slide-default" %}
    {% else %}
        {% assign layout = slide.layout %}
    {% endif %}

    {% include {{layout}}.html %}

    <!--- END post post post -->

{% endfor %}
