---
layout: slides
title: Badrap - Company Intro
styles:
    - reveal.js/css/reveal.css
    - reveal.js/css/theme/white.css
    - badrap.css

slides:
  - slide:
    title:
      text: Badrap
    subtitle:
      text: Security Information for All
    layout: slide-coverpage
    img:
      src: badrap-logo.svg
      alt: Badrap logo
      width: 30%

  - slide:
    title:
      text: Background
    text:
      text: >
        <ul>
          <li> Founded: 2017-07 by information security veterans
          <li> Funding: Ääkköset Oy, Tekes Tempo, ELY, and the founders.
          <li> Team: 2 full time and 5 part-time
        </ul>
  - slide:
    title:
      text: Founders
    layout: slide-team
  - slide:
    title:
      text: Need for Security Information
    bullets:
      list:
        - Victims of malware attacking others
        - Owners of vulnerable appliances getting owned
        - Victims of data leaks getting exposed

  - slide:
    title:
      text: Supply of Security Information
    layout: slide-image-and-text
    text:
        text: Free and commercial&#58;
    bullets:
      list:
        - Attacker information
        - Vulnerability information
        - Data leak information
    img:
      src: sources-exist.jpg
      alt: Example information sources

  - slide:
    title:
      text: Underserved market
    text:
      text: Only the best get to enjoy security information.
    img:
        src: lastmile.jpg
        alt: Last mile

  - slide:
    title:
      text: We will do it
      class: white
    subtitle:
      text: Rethinking sharing for scale
      class: white
    img:
      src: ../../img/badrap-connects.svg
      width: 400px;
      class: whitebox
      alt: Badrap connects icon
    section-parameters: >
      data-background-size="cover"
      data-background="linear-gradient(rgba(200, 60, 240, 0.8), rgba(255, 0, 0, 0.65)),
          url(planning.jpg)"

  - slide:
    layout: slide-image-and-text
    container:
      class: half
    title:
      text: Where are we now?
    text:
        text: Hand-picked researchers served. Individuals served. First product for companies launched.
    img:
      src: badrap-connects.svg
      class: max

  - slide:

    title:
      text: Introducing badrap.io
    text:
      text: security for the rest of us
    img:
      src: badrapio.jpg
      width: 700px
      class: shadow

  - slide:
    title:
      text: Security researchers
    text:
      text: Handpicked those who produce quality data in scale
    img:
      src: badrap-researchers-logos.jpg
      class: shadow
  - slide:
    title:
      text: Connecting the ecosystem
    img:
      src: twitter-promoting.jpg
      class: shadow
  - slide:
    title:
      text: Commmercial offering

  - slide:
    title:
      text: Employee Cyber Hygiene
      class: white
    subtitle:
      text:
      class: white
    text:
      text: Protect the employees › protect the business
      class: white
    section-parameters: >
      data-background-size="cover"
      data-background="linear-gradient(
        rgba(200, 60, 240, 0),
        rgba(255, 0, 0, 0)),
        url(home.jpg)"
    buttons:
      - button:
        link: https://badrap.io/companies
        text: Read more
  - slide:
    title:
        text: The end

    buttons:
        - button:
          link: https://badrap.io
          text: Use badrap.io
          social:
        - button:
          link: https://badrap.io/about
          text: About us
        - button:
          link: https://www.twitter.com/badrapio
          text: Twitter
        - button:
          link: https://medium.com/badrapio
          text: Medium
        - button:
          link: https://share.hsforms.com/1YYCtOd6TRR-94J91OfG_zw2ecmj
          text: Contact us
---

{% for slide in page.slides %}

    <!--- post post post -->

    {% if slide.layout == null %}
        {% assign layout = "slide-default" %}
    {% else %}
        {% assign layout = slide.layout %}
    {% endif %}

    {% include {{layout}}.html %}

    <!--- END post post post -->

{% endfor %}
